.cbp-breadcrumb {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.cbp-breadcrumb__item {
  &:not(:first-child) {
    margin-left: 8px;
  }

  & > a {
    text-decoration: none;

    &::after {
      content: '/';
      margin-left: 8px;
      color: #000;
    }
  }
}
