.cbp-breadcrumb {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 16px !important; // override from uswds
  padding-left: 0;
}

.cbp-breadcrumb__item {
  margin-bottom: 0;

  &:not(:first-child) {
    margin-left: 8px;
  }

  & > a {
    color: $cbp-ui-primary;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $cbp-ui-primary-dark;
      text-decoration: underline;

      &::after {
        display: inline-block;
        text-decoration: none;
      }
    }
  }

  /* First breadcrumb icon should not have underline on hover */
  &:first-child > a:hover {
    text-decoration: none;
  }

  /* Last breadcrumb should not have separator */
  &:last-child::after {
    content: '';
  }

  &::after {
    @extend .cbp-text-subhead;
    color: $cbp-text-darker;
    content: '/';
    font-style: italic;
    margin-left: 8px;
  }
}

.cbp-breadcrumb--condensed {
  margin-bottom: 12px !important;
  margin-top: 12px;
}

.cbp-breadcrumb--condensed > li:nth-child(2) > a {
  color: black;
}

.cbp-lastcrumb {
  color: #000;
  border-bottom: 4px solid $cbp-ui-neutral;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}
