.menu {
  overflow-y: auto;
  // padding: 24px;
  background-color: $grey-lightest;
  font-size: $cbp-body-text;
  padding: 0;
  margin: 0;
}

.menu-list {
  font-size: 1rem;
  > li {
    a {
      &:hover {
        background-color: $grey-lighter;
        color: $cbp-info;
        font-weight: $cbp-weight-medium;
      }
    }
  }
}

.menu-label {
  position: relative;
  left: 28px;
  font-weight: bold;
  margin-top: 10px;
}