/gradle
/src
.bowerrc
bower.json
*.gradle
gradle.properties
gradle/
gradlew*
favicon.ico
Gruntfile.js
gulpfile.babel.js
LICENSE
README.md
index.html
/app/*.css
/app/*.html
/app/*.png
/app/*.js
*.less
