form {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-check {
  margin-bottom: 20px;
}

/* Reset for Checkbox */
[type="checkbox"]::before,
[type="checkbox"]::after {
  box-sizing: border-box;
}

.cbp-form__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  background-color: $cbp-white;
  border: 2px solid $cbp-ui-neutral-base;
  border-radius: 3px;
  height: 24px;
  outline: 0 !important;
  position: relative;
  vertical-align: text-bottom;
  width: 24px;

  &::before {
		content: '';
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		top: 0;
	}
	
  &:hover:not([disabled]) {
    box-shadow: 0 0 0 8px rgba(230, 230, 226, 0.5); // $cbp-ui-neutral-lighter
    clip-path: circle(80%);
  }
  
  &:focus {
    border: 2px solid $cbp-focus-dark;
    box-shadow: 0 0 0 8px $cbp-focus-light;
    clip-path: circle(80%);
    outline: 0 !important; // Overriding style from _focus.scss??

    &:hover:not([disabled]) {
      box-shadow: 0 0 0 8px $cbp-focus-light;
      clip-path: circle(80%);
    }
	}

  &:disabled {
    background-color: $cbp-disabled-light;
    border: 2px solid $cbp-disabled-dark;

    &:checked {
      border-color: $cbp-disabled-dark;
      background-color: $cbp-disabled-dark;
      color: $cbp-white;

      &::before {
        border-right: 3px solid $cbp-white;
        border-bottom: 3px solid $cbp-white;
        height: 70%;
        width: 30%;
        transform: rotate(45deg) translateY(-10%) translateX(-10%);
      }

      &:hover {
        box-shadow: 0 0 0 8px $cbp-disabled-light; // $cbp-selected-light
        clip-path: circle(80%);
      }

      &:focus {
        background-color: $cbp-disabled-light;
        border: 2px solid $cbp-black;
        box-shadow: 0 0 0 8px $cbp-focus-light;
        clip-path: circle(80%);
        outline: 0 !important; // Overriding style from _focus.scss??

        &::before {
          border-right: 3px solid $cbp-disabled-dark;
          border-bottom: 3px solid $cbp-disabled-dark;
          height: 70%;
          width: 30%;
          transform: rotate(45deg) translateY(-10%) translateX(-10%);
        }
    
        &:hover:not([disabled]) {
          box-shadow: 0 0 0 8px $cbp-focus-light;
          clip-path: circle(80%);
        }
      }
    }

    &:hover {
      box-shadow: 0 0 0 8px $cbp-disabled-light; // $cbp-selected-light
      clip-path: circle(80%);
    }

    &:focus {
      border: 2px solid $cbp-focus-dark;
      box-shadow: 0 0 0 8px $cbp-focus-light;
      clip-path: circle(80%);
      outline: 0 !important; // Overriding style from _focus.scss??
  
      &:hover:not([disabled]) {
        box-shadow: 0 0 0 8px $cbp-focus-light;
        clip-path: circle(80%);
      }
    }

    &:indeterminate {
      background-color: $cbp-disabled-dark;
      border: 2px solid $cbp-disabled-dark;
  
      &::before {
        border: 1px solid $cbp-disabled-light;
        height: 0;
        width: 60%;
      }
  
      &:hover {
        background-color: $cbp-ui-neutral-base;
        border: 2px solid $cbp-ui-neutral-base;
        box-shadow: 0 0 0 8px $cbp-disabled-light; // $cbp-selected-light
        clip-path: circle(80%);
      }
  
      &:focus {
        background-color: $cbp-focus-dark;
        border: 2px solid $cbp-white;
      }
    }
  }

  &:checked {
    border-color: #745fe9;
    background-color: #745fe9;
    color: $cbp-white;

    &::before {
      border-right: 3px solid $cbp-white;
      border-bottom: 3px solid $cbp-white;
      height: 70%;
      width: 30%;
      transform: rotate(45deg) translateY(-10%) translateX(-10%);
    }

    &:hover {
      box-shadow: 0 0 0 8px #e4deff; // $cbp-selected-light
      clip-path: circle(80%);
    }

    &:focus {
      background-color: $cbp-focus-dark;
      border: 2px solid $cbp-white;
    }
  }

  &:indeterminate {
    background-color: #745fe9;
    border: 2px solid #745fe9;

    &::before {
      border: 1px solid $cbp-white;
      height: 0;
      width: 60%;
    }

    &:hover {
      box-shadow: 0 0 0 8px #e4deff; // $cbp-selected-light
      clip-path: circle(80%);
    }

    &:focus {
      background-color: $cbp-focus-dark;
      border: 2px solid $cbp-white;
    }
  }
}
