.cbp-form__group {
  display: flex;
  align-items: center;

  & > label {
    margin-left: 6px;
  }
}

.cbp-form-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.cbp-form__label {
  color: $cbp-text-darkest;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}

.cbp-form__input {
  border: 1px solid $cbp-ui-neutral;
  border-radius: 3px;
  box-sizing: border-box;
  color: $cbp-text-darkest;
  font-size: 1rem;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.3px;
  padding: 0 8px;

  &::placeholder {
    font-style: italic;
  }

  &:hover:not([disabled]) {
    border: 2px solid $cbp-ui-neutral-darker;
  }

  &:focus:not([disabled]) {
    border: 2px solid $cbp-focus-dark;
    outline: 0;
  }

  &:disabled {
    background-color: $cbp-disabled-light;
    border: 1px solid $cbp-disabled-dark;
    cursor: not-allowed;

    &:hover {
      border: 2px solid $cbp-ui-neutral-darker;
    }
  }

  &:invalid {
    border: 2px solid $cbp-danger;
  }

}

.cbp-form__description {
  color: $cbp-text-darkest;
  font-size: 0.889rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.cbp-form__textarea {
  @extend .cbp-form__input;
  height: unset;
  padding: 8px;
}

.cbp-form__validation {
  @extend .cbp-form__description;
  color: $cbp-danger;
}