@use "../base" as mixins;

.cbp-grid {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(4, 1fr);
  // height: 100vh;
  margin: 0 20px;
}

@include mixins.tablet-portrait-view {
  .cbp-grid {
    gap: 0 28px;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 32px;
  }
}

@include mixins.tablet-landscape-view {
  .cbp-grid {
    gap: 0 28px;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 32px;
  }
}

@include mixins.large-desktop-view {
  .cbp-grid {
    gap: 0 28px;
    margin: 0 44px;
  }
}
