/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.9.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://designsystem.digital.gov/design-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family: "gray-cool";
$theme-color-base-lightest: "gray-4";
$theme-color-base-lighter: "gray-cool-10";
$theme-color-base-light: "gray-cool-30";
$theme-color-base: "gray-cool-50";
$theme-color-base-dark: "gray-cool-60";
$theme-color-base-darker: "gray-cool-80";
$theme-color-base-darkest: "gray-90";
$theme-color-base-ink: "gray-90";

// Primary colors
//Currently set to UI PRIMARY Colors
$theme-color-primary-family: "blue-warm";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "blue-warm-10";
$theme-color-primary-light: "blue-warm-30";
//"blue-warm-50" fails the contrast check- currently set to USWDS default
$theme-color-primary: #1a4480;
$theme-color-primary-vivid: false;
$theme-color-primary-dark: "blue-warm-70v";
$theme-color-primary-darker: "blue-warm-80v";
$theme-color-primary-darkest: false;

// Secondary colors
// Currently set to UI NEUTRAL Colors
$theme-color-secondary-family: "gray-warm";
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter: "gray-warm-10";
$theme-color-secondary-light: "gray-warm-30";
$theme-color-secondary: "gray-warm-50";
$theme-color-secondary-vivid: false;
$theme-color-secondary-dark: "gray-warm-60";
$theme-color-secondary-darker: "gray-warm-70";
$theme-color-secondary-darkest: false;

// Accent warm colors
//Temporarily set to ACCENT PRIMARY
$theme-color-accent-warm-family: "blue-cool";
$theme-color-accent-warm-lightest: false;
$theme-color-accent-warm-lighter: "blue-cool-10";
$theme-color-accent-warm-light: "blue-cool-30";
$theme-color-accent-warm: "blue-cool-50";
$theme-color-accent-warm-dark: "blue-cool-60";
$theme-color-accent-warm-darker: "blue-cool-70";
$theme-color-accent-warm-darkest: false;

// Accent cool colors
//Temporarily set to ACCENT SECONDARY
$theme-color-accent-cool-family: "mint-cool";
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter: "mint-cool-10";
$theme-color-accent-cool-light: "mint-cool-30";
$theme-color-accent-cool: "mint-cool-50";
$theme-color-accent-cool-dark: "mint-cool-60";
$theme-color-accent-cool-darker: "mint-cool-70";
$theme-color-accent-cool-darkest: false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family: "red-warm";
$theme-color-error-lighter: "red-warm-10";
$theme-color-error-light: "red-warm-30";
$theme-color-error: "red-warm-50";
$theme-color-error-dark: "red-60";
$theme-color-error-darker: "red-70";

// Warning colors
$theme-color-warning-family: "yellow";
$theme-color-warning-lighter: "yellow-5";
$theme-color-warning-light: "yellow-10";
$theme-color-warning: "gold-20";
$theme-color-warning-dark: "gold-30";
$theme-color-warning-darker: "gold-50";

// Success colors
$theme-color-success-family: "green-cool";
$theme-color-success-lighter: "green-cool-10";
$theme-color-success-light: "green-cool-30";
$theme-color-success: "green-cool-50";
$theme-color-success-dark: "green-cool-60";
$theme-color-success-darker: "green-cool-70";

// Info colors
$theme-color-info-family: "cyan";
$theme-color-info-lighter: "cyan-10";
$theme-color-info-light: "cyan-30";
$theme-color-info: "cyan-50";
$theme-color-info-dark: "cyan-60";
$theme-color-info-darker: "cyan-70";

// Disabled colors
$theme-color-disabled-family: "gray";
$theme-color-disabled-light: false;
$theme-color-disabled: "gray-10";
$theme-color-disabled-dark: "gray-40";

/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color: "primary";
$theme-link-visited-color: "indigo-5";
$theme-link-hover-color: "violet-warm-20";
$theme-link-active-color: "indigo-cool-10";
$theme-link-reverse-color: "base-lighter";
$theme-link-reverse-hover-color: "violet-warm-50";
$theme-link-reverse-active-color: "indigo-cool-80";
