/* Potential universal styling Start */
/* FCE1D4 */

.cbp-border-bottom {
  padding-bottom: 24px;
  border-bottom: 2px solid #DFE1E2;
}

.cbp-btn-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 16px;
}

.cbp-btn-group > button {
  margin: 0;
  max-width: 130px !important;
}

.cbp-app-name {
  border-bottom: solid 3px #A9AEB1;
  padding-bottom: 16px;  
}

.cbp-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.cbp-tag {
  background-color: #0081A1;
  color: #fff;
  border-radius: 16px;
  display: table;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 8px 16px;
}

.cbp-tag > .fas {
  margin-right: 4px;
}

.cbp-tag--danger {
  background-color: #D54309;
}

select {
  padding: 8px;
}

.cbp-app-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 16px;
}

.cbp-pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 190px;
}

.cbp-pagination-number {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cbp-pagination-number > li {
  margin: 0;
}

.cbp-pagination-number button {
  height: 36px;
  width: 36px;
}

.cbp-pagination-number button {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border:  none;
  box-shadow: inset 0 0 0 1px #000;
  padding: 8px;
}

.cbp-pagination-number button.active {
  background-color: #1B2B85;
  color: #fff;
}

.cbp-pagination-number li.additonal-btn  {
  display: none;
}

.cbp-pagination-down > button {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.cbp-pagination-up > button {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.cbp-pagination-down > button,
.cbp-pagination-up > button {
  background-color: transparent;
  color: black;
  width: 28px;
}

.cbp-pagination-down > button:disabled,
.cbp-pagination-up > button:disabled {
  background-color: transparent;
  color: #ccc;
}
/* Potential universal styling End */

.cbp-filter-cmpt__form {
  margin-top: 16px;
}

.passenger-filters button {
  margin-right: 0;
}

.passenger-filters > *:nth-child(1){
  order: 1;
}

.passenger-filters > *:nth-child(2){
  display: flex;
  flex: 1 0 100%;
  margin-top: 20px;
  order: 3;  
}

.passenger-filters > *:nth-child(3){
  order: 2;  
}

.right-filters {
  display: flex;
}

.right-filters > select {
  flex: 1;
}

.right-filters > button {
  margin-left: 16px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 130px;  
}

.results-info {
  align-items: center;
  background-color: #F1F3F6;
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px;
}

.results-info > div {
  display: flex;
  flex: 1 0 100%;
}

.results-filters > .filters {
  margin-left: 8px;
}

.updated {
  margin-top: 16px;
}

.cbp-row-card {
  border-bottom: 1px solid #f1f3f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-bottom: 16px !important; */
  padding: 16px;
}

.cbp-row-card--alert {
  background-color: #FCE1D4;
}

.cbp-row-card__img {
  align-items: center;
  background-color: #A9AEB1;
  border-radius: 5px;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-right: 12px;
  width: 80px
}

.cbp-row-card__img > .fa-exclamation-triangle {
  display: none;
  position: absolute;
  z-index: 1;
}

.cbp-row-card__img > img {
  border-radius: 8px;
}

.cbp-row-card--alert .img-overlay {
  background: #D54309;
  border-radius: 8px;
  height: 80px;
  opacity: .5;
  position: absolute;
  width: 80px;
  z-index: 0;
}

.cbp-row-card--alert .cbp-row-card__img > .fa-exclamation-triangle {
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 3rem;
}

.cbp-row-card__header {
  display: flex;
  flex: 1 0 100%;
}

.cbp-row-card__title {
  display: flex;
  flex-wrap: wrap;
}

.cbp-row-card__title > span {
  flex: 1 0 100%;
}

.cbp-row-card__body span {
  display: inline-block;
  margin-top: 8px;
}

.right-row-card {
  flex: 1 0 100%;
}

/* Filter Draw START */
.cbp-filter-cmpt > .usa-search {
  flex-wrap: wrap;
  margin-top: 16px;
}

.cbp-filter-cmpt > .usa-search * {

}

.cbp-filter-cmpt .usa-sr-only,
.cbp-filter-cmpt .usa-search { 
  display: inline-block;
  left: 0;
  position: inherit;
  width: 100%;
}

.cbp-filter-cmpt .usa-sr-only {
  font-style: italic;
  font-weight: 700;
}

.cbp-filter-cmpt > div {
  margin-top: 8px;
}

.cbp-filter-form > * {
  display: inline-block;
  width: 100%;
}
.cbp-filter-form .cbp-label {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 20px;
}

.cbp-filter-form > p+* {
  margin-top: 0 !important;
}

.cbp-filter-form .cbp-btn-group {
  border-top: 2px solid #DFE1E2;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  padding: 16px 0;
}

.cbp-filter-form .cbp-btn-group .cbp-btn {
  margin-left: 16px;
}

.cbp-radio-group {
  display: flex;
}

.cbp-radio-group > div + div {
  margin-left: 20px;
}

.cbp-radio-group label,
.cbp-input-group label {
  position: relative;
  top: -1px;
}

.cbp-input-group > div + div {
  margin-top: 16px;
}

.cbp-select {
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  padding-left: 0;
  padding-bottom: 4px;
}

/*** Date & Time Pickers CSS ***/
.date-time {
  display: flex;
  justify-content: space-between;
}

.date-time span {
  font-style: italic;
  text-align: center;
}

.cbp-date-picker,
.cbp-time-picker{
  position: relative;
}

.cbp-date-picker .cbp-date,
.cbp-time-picker .cbp-time{
  border-bottom: 1px solid #000;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  padding-bottom: 4px;
  padding-left: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cbp-date-picker .cbp-date::-webkit-calendar-picker-indicator,
.cbp-time-picker .cbp-time::-webkit-calendar-picker-indicator{
    left: -28px;
    opacity: 0;
    position: absolute;
    z-index: 50;
}

.cbp-time-picker .cbp-time::-webkit-calendar-picker-indicator{
  left: -8px;
}

.cbp-date-picker .cbp-date::placeholder {
  color: #000;
}

.cbp-date-picker .fa-calendar,
.cbp-time-picker .fa-clock {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: -1px;
  z-index: 50;
}

.cbp-time-picker .fa-clock {
  top: 2px;
}

/*** Date & Time Pickers CSS END ***/

/*** SLIDER ***/
.cbp-slider {
  display: flex;
  justify-content: space-between;
}

.cbp-slider input[type="range"] {
  --thumbSize: 16px;
  --trackSize: 3px;
  --thumbBg: #745FE9;
  --trackBg: #A9AEB1;
  --progressBg: #00BDE3;

  /* webkit progress workaround */
  --webkitProgressPercent: 0%;
}

.cbp-slider input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--thumbSize);
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.cbp-slider input[type="range"]:focus {
  outline: none;
}

.cbp-slider input[type="range"] {
  flex: 2;
  margin-left: 16px;
}

/* Thumb */
.cbp-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
.cbp-slider input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
.cbp-slider input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}

/* Track */
.cbp-slider input[type="range"]::-webkit-slider-runnable-track {
  height: var(--trackSize);
  background-image: linear-gradient(
    90deg,
    var(--progressBg) var(--webkitProgressPercent),
    var(--trackBg) var(--webkitProgressPercent)
  );
  border-radius: calc(var(--trackSize) / 2);
}
.cbp-slider input[type="range"]::-moz-range-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}
.cbp-slider input[type="range"]::-ms-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}

/* Progress */
.cbp-slider input[type="range"]::-moz-range-progress {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
.cbp-slider input[type="range"]::-ms-fill-lower {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}

/* Filter Draw STOP */

@media only screen and (max-width : 599px) {

}

@media only screen and (min-width : 600px) and (max-width : 1023px) {

  .results-info > div {
    display: flex;
    flex: 1 0 50%;
  }

  .results-info .updated {
    display: inline-block;
    margin-top: 0;
    text-align: right;
  }

  .right-filters > select {
    flex: 0;
  }
  
  .right-filters > button {
    flex: 0;
    width: auto;
  }

  .cbp-row-card__header,
  .right-row-card {
    flex: 1;
  }

  .cbp-row-card__footer {
    flex: 1 0 100%;
  }

  .right-filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 320px;
  }

  .passenger-filters > *:nth-child(2){
    flex: 0;
    margin-top: 0;
    order: 2;  
  }
  
  .passenger-filters > *:nth-child(3){
    order: 3;  
  } 

  .cbp-app-footer .cbp-page-list {
    margin-right: 16px;
  }

  .cbp-pagination-number li.additonal-btn  {
    display: list-item;
  }

}

@media only screen and (min-width : 1024px) and (max-width : 1439px) {

  .results-info > div {
    display: flex;
    flex: 1 0 50%;
  }

  .results-info .updated {
    display: inline-block;
    margin-top: 0;
    text-align: right;
  }

  .right-filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 320px;
  }

  .right-filters > select {
    flex: 0;
  }
  
  .right-filters > button {
    flex: 0;
    width: auto;
  }

  .passenger-filters > *:nth-child(2){
    flex: 0;
    margin-left: 34em;
    margin-top: 0;
    order: 2;  
  }

  .cbp-row-card__header,
  .right-row-card,
  .cbp-row-card__footer {
    flex: 1;
  }

  .cbp-row-card .cbp-row-card__footer .cbp-btn {
    float: right;
  }

  .cbp-row-card--alert .right-row-card {
    margin-right: min(433px, 33%);
  }
  
  .cbp-row-card--alert .cbp-row-card__footer {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
  }

  .cbp-row-card--alert .cbp-row-card__footer .cbp-btn {
    margin-bottom: 1em;
    margin-right: 16px;
    position: absolute;
    right: 0;
    top: 55px;
  } 

  .cbp-app-footer .cbp-page-list {
    margin-right: 16px;
  }

  .cbp-pagination-number li.additonal-btn  {
    display: list-item;
  }

}

@media only screen and (min-width : 1440px) {

  .results-info > div {
    display: flex;
    flex: 1 0 50%;
  }

  .results-info .updated {
    display: inline-block;
    margin-top: 0;
    text-align: right;
  }

  .right-filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 320px;
  }

  .right-filters > select {
    flex: 0;
  }
  
  .right-filters > button {
    flex: 0;
    width: auto;
  }

  .passenger-filters > *:nth-child(2){
    flex: 0;
    margin-left: 34em;
    margin-top: 0;
    order: 2;  
  }

  .cbp-row-card__header,
  .right-row-card,
  .cbp-row-card__footer {
    flex: 1;
  }

  .cbp-row-card .cbp-row-card__footer .cbp-btn {
    float: right;
  } 

  .cbp-row-card--alert .cbp-row-card__footer {
    display: flex;
    flex: 1 0 10px;
  }

  .cbp-row-card--alert .cbp-row-card__footer .cbp-tags {
    flex: 1;
  }

  .cbp-row-card--alert .cbp-row-card__footer button {
    float: none;
    height: 40px;
}

  .cbp-app-footer .cbp-page-list {
    margin-right: 16px;
  }

  .cbp-pagination-number li.additonal-btn  {
    display: list-item;
  }
}

/* .cbp-border-bottom {
  border-bottom: solid 3px #A9AEB1;
} */