@import "../../../node_modules/react-tabs/style/react-tabs.scss";

.is-active {
  font-weight: bold;
}

//override Bulma default
.tabs {
  li {
    //to make all tabs display in one row.
    display: block;
    padding: 0;
    font-size: 16px;

    //fixes small pixel movement of border-bottom on hover
    border: 1px solid transparent;
  }
}

.tablist-container {
  width: inherit;
  // overflow-x: hidden;
}

//custom config of react-tabs
.react-tabs__tab-list {
  position: inherit;
  background-color: white;
  z-index: 100;
  margin-bottom: 0;

  // @TODO: Change this to make it more responsive
  //align first tab with main heading
  margin-left: 80px;

  //adjust border-bottom width of the box-tab
  width: 60vw;
}

//adjusts padding-top spacing for the first heading in each tabpanel section.
