.margin--tab {
  margin: 0 2em - 1em;
}

.is-active {
  font-weight: bold;
}


//custom config of react-tabs
//@TODO: adjust right padding
.react-tabs__tab-list {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
}
