.cbp-expand {
  margin: 12px 0;
}

.cbp-expand__title {
  display: flex;
  align-items: flex-start;

  button {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    margin-right: 8px;

    // Focus states for expand button 
    &:focus {
      background-color: #be32d0;
    }

    &:focus i {
      color: #fff;
    }
  }

  button > i {
    font-size: 16px;
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }

  span {
    font-size: 1.125rem;
    line-height: 20px;
    text-align: left;

  }

  // Hover states for expand button
  &:hover button {
    background-color: $cbp-ui-neutral-darker;

    i {
      color: #fff;
    }
  }
}

.cbp-expand__content {
  display: none;
  max-height: 0;
  overflow: hidden;
}

.cbp-expand__list {
  padding-left: 0;
  margin-top: 0;
  list-style: none;

  li {
    color: $cbp-text-darkest;
    line-height: 20px;
  }
}

// Active state for expand
.active {
  .fa-caret-down {
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
  }

  .cbp-expand__content {
    display: block;
    max-height: fit-content;
    padding-top: 12px;
    padding-left: 32px;
  }
}