
.panel-group[role="tablist"] > .panel > .panel-heading > .panel-title > a,
.filter-list[role="tablist"] > .filter-group-title {
    cursor: pointer;

    &[aria-expanded="false"] .fa.fa-angle-right {
        @include transition(all 0.25s linear);
    }
    &[aria-expanded="true"] .fa.fa-angle-right {
        @include transition(all 0.25s linear);
        @include transform(rotate(90deg));
    }
}

.panel-group > .panel + .panel {
    margin-top: -1px;
}

.panel-group .panel:not(.panel-default) > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.panel-group .panel:not(.panel-default) {
    box-shadow: none;
}

.panel-group .panel:not(.panel-default) + .panel{
    border-top: 1px solid #eee;
}


// .accordion-group {
//     > .accordion-panel {
//         > .accordion-header {
//             > a {
//                 padding: 5px 10px;
//                 color: @text-color;
//                 text-decoration: none;
//                 font-weight: 600;
//                 display: block;

//                 > .fa {
//                     margin-right: 5px;
//                 }
//             }
//         }

//         .accordion-collapse > .accordion-body {
//             padding: 5px 23px;
//         }

//         .accordion-panel {
//             > .accordion-header > a {
//                 background: #f4f4f4;
//             }
//             .accordion-panel {
//                 > .accordion-header > a {
//                     background: #efefef;
//                 }
//             }
//         }
//     }
// }

// // variant with icon on the right instead of left
// .accordion-group.accordion-group-fa-right {
//     > .accordion-panel > .accordion-header > a > .fa {
//         float: right;
//         margin-left: 5px;
//         margin-right: 0;
//     }
// }

// // Bordered variant of accordion group
// .accordion-group.accordion-group-bordered {
//     > .accordion-panel {
//         border: 1px solid #ddd;
//         margin-top: -1px;

//         &:first-child {
//             margin-top: 0;
//         }

//         > .accordion-collapse {
//             border-top: 1px solid #ddd;
//         }
//     }
// }
