.sidebar {
    margin-left: -8px; //this is to offset container-fluid padding
    z-index: 990;
    background-color: $gray-lightest;
    border-right: 1px solid #eee;
    float: left;
  }
@media (min-width:$screen-lg) {
  .sidebar {
    overflow-x: hidden;    
    display: block;    
    @include transition(top ease 0.25s);
    &.fixed {
      overflow-y: auto;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    
  }  

}
@media (min-width:$screen-lg) and (min-width:$screen-md) and (min-width:$screen-sm){
  .cbp-sidebar {
    width: 350px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .cbp-sidebar-offset {
    margin-left: 360px;
    overflow-x: hidden;
    padding-right: 8px;
  }
}
