/* Label variants */
.label {
  font-size: 70%;
  letter-spacing: 0.06em;
  padding: .3em .6em;
}


.label-default {
  color: $gray-darker !important;
  border: 1px solid $gray !important;
}
.label-primary {
  @include label-variant($brand-primary);
  border: 1px solid $gray;
}
.label-success {
  @include label-variant($brand-success);
  border: 1px solid $gray;
}
.label-info {
  @include label-variant($brand-info);
  border: 1px solid $gray;
}
.label-danger {
  @include label-variant($brand-danger);
  border: 1px solid $gray;
}
.label-inverse {
  @include label-variant($body-bg);
  color: $gray-dark;
  border: 1px solid $gray;
}
.label-live {
  @include label-variant($brand-live);
  color: $gray-dark;
  border: 1px solid $gray;
}
.label-warning {
  @include label-variant($brand-warning);
  color: $brand-warning-text;
  border: 1px solid $gray;
}

.label-default.subtle {
    color: $gray-dark;
    background-color: mix($text-color, #fff, 7.5%);
    border: 1px solid mix($text-color, #fff, 35%);
}

.label-success.subtle {
    color: darken($brand-success, 8.8%);
    background-color: mix($brand-success, #fff, 7.5%);
    border: 1px solid mix($brand-success, #fff, 35%);
}

.label-info.subtle {
    color: $brand-info;
    background-color: mix($brand-info, #fff, 7.5%);
    border: 1px solid mix($brand-info, #fff, 35%);
}

.label-warning.subtle {
    color: $brand-warning-text;
    background-color: mix($brand-warning, #fff, 7.5%);
    border: 1px solid mix($brand-warning, #fff, 35%);
}

.label-danger.subtle {
    color: $brand-danger;
    background-color: mix($brand-danger, #fff, 7.5%);
    border: 1px solid mix($brand-danger, #fff, 35%);
}

.label-primary.subtle {
    color: $brand-primary;
    background-color: mix($brand-primary, #fff, 7.5%);
    border: 1px solid mix($brand-primary, #fff, 35%);
}



