@charset "utf-8";
// GLOBAL VARIABLES
// INTRODUCTION:
// Everything is in alphabetical order w/in each section
// ** Only global variables, nothing pertaining to a specific element/component/object
// Note: For all customizations to non-gelobal variables, need to find inside those more specific files.
// "Updates" are for customizations to Bulma for matching up with the CBP Global Variables.
//   ***  Table of Contents  ***
// #1 Brand COLOR PALETTES
    // 1A - Primary
    // 1B - Subtle
    // 1C - Gray Color Palette
    // 1D - Borders
    // 1E - Text
    // 1F - Links
// #2 BULMA COLORS
// (Note: These colors only pertain to Bulma, not tied to a specific component/element)
  // 2A - Background
// Beginning of Customizations
  // (1A) -- PRIMARY
  // Updates Bulma's Global Variables in their /utilities/initial-variables.scss file
$danger:                            $cbp-danger;
$info:                              $cbp-info;
$primary:                           $cbp-primary;
$success:                           $cbp-success;
$warning:                           $cbp-warning;
  // Custom Variables
$default:                           $cbp-default;
$live:                              $cbp-live;
  // (1F) -- LINKS
  // Updates Bulma's Global Variables in their /utilities/derived-variables.scss file
$link:                              $cbp-primary;
// #2 BULMA COLORS
  // (2A) -- BACKGROUND
  // Updates Bulma's Global Variables in their 
  // utilities/derived-variables.scss file
$background:                        $white;
// CBP Typography
$size-normal:                       $cbp-body-text;
