/* CBP Bulma overides */
$body-size: 14px;
$body-font-size: 1em;

//Overrides default Bulma border color for box tabs into a darker grey.
$tabs-border-bottom-color: #c7c7c7;
$tabs-boxed-link-active-border-color: #c7c7c7;
$tabs-boxed-link-hover-border-bottom-color: #c7c7c7;
$tabs-boxed-link-active-border-color: #c7c7c7;

html {
  color: $grey-darker;
  font-size: $body-size;
  letter-spacing: $cbp-font-spacing;
  line-height: $cbp-height-20;
}

body {
  font-size: $body-font-size;
}
