.cbp-accordion__title--danger .cbp-badge,
.cbp-accordion__item.active  .cbp-badge,
.cbp-accordion__title:hover .cbp-badge {
  background-color: #FFF;
  color: #000;
}

/* Potential CBP List styling */
.cbp-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.cbp-list > li {
  border-bottom: 1px solid #F1F3F6;
  flex: 1 0 100%;
  max-width: 100%;
}

/* Gives space above to all phone numbers except first one in accordion */
.cbp-list > li:not(:first-child) { 
  margin-top: 16px;
}

.cbp-list > li div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.cbp-list__info {
  list-style: none;
  padding-left: unset;
}

.cbp-list > li div button {
  margin-bottom: 16px;
  width: fit-content;
}

.cbp-page-list {
  align-items: center;
  display: flex;
  flex: 0 1 100%;
  justify-content: flex-start;
}

.cbp-pagination {
  margin-left: auto;
}

.cbp-pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 190px;
}

.cbp-pagination-number {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cbp-pagination-number > li {
  margin: 0;
}

.cbp-pagination-number button {
  height: 36px;
  width: 36px;
}

.cbp-pagination-number button {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border:  none;
  box-shadow: inset 0 0 0 1px #000;
  padding: 8px;
}

.cbp-pagination-number button.active {
  background-color: #1B2B85;
  color: #fff;
}

.cbp-pagination-number li.additonal-btn  {
  display: none;
}

.cbp-pagination-down > button {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.cbp-pagination-up > button {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.cbp-pagination-down > button,
.cbp-pagination-up > button {
  background-color: transparent;
  color: black;
  width: 28px;
}

.cbp-pagination-down > button:disabled,
.cbp-pagination-up > button:disabled {
  background-color: transparent;
  color: #ccc;
}

/* Desktop Media Query */
@media only screen and (min-width: 886px) {
  .cbp-list > li div {
    display: flex;
    flex-direction: row;
  }
  
  .cbp-list__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  .cbp-list__info li {
    width: 300px;
  }
  
  .cbp-list > li button {
    margin-left: auto;
    margin-right: 16px;
  }
}

/* Extra wide desktop */
@media only screen and (min-width: 1652px) {
  .cbp-list__info li {
    width: unset;
    margin-right: 24px;
  }
}