/* CSS taken from PrismJS with a few modifications */

.code-toolbar {
  display: inline-block;
}

.toolbar-item {
  padding: 7px;
}

.code-snippet-container {
  max-width: 700px;
}

.apply-border-radius {
  border-radius: 7px;
}

span {
  &.tag {
    background-color: transparent;
    font-size: 1rem;
  }
}

code {
  background-color: transparent !important;
  color: #0a3055;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

.token {
  padding: 0 !important;

  &.entity {
    background-color: transparent !important;
    cursor: inherit;
  }

  &.string {
    background-color: transparent !important;
  }
}
