/* CSS taken from PrismJS with a few modifications */

.code-toolbar {
  display: inline-block;
}

.toolbar-item {
  padding: 7px;
}

.code-snippet-container {
  max-width: 700px;
}

.apply-border-radius {
  border-radius: 7px;
}

//For plain <code></code> references in text that are not code examples. Overrides from bulma CSS
code {
  background-color: transparent;
  color: #0a3055;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
}

//Modifies prismJS highlighting
span {
  &.tag {
    background-color: transparent;
    font-size: 1rem;
  }
}

.token {
  //removes the left & right padding of tags, i.e. <p>, <div>, etc. for HTML code
  &.tag {
    padding: 0 !important;
  }

  //if the HTML tag has a class, this will add a slight left padding before "class".
  //example: <i class="fas fa-chevron-down"></i>
  &.attr-name {
    padding-left: 10.5px;
  }

  //removes the white background from special characters such as &lsquo.
  &.entity {
    background-color: transparent;
    cursor: inherit;
  }

  //removes the white background from words in quotes, such as class names.
  //example: <div class="container">
  &.string {
    background-color: transparent;
  }
}
