/*
  Common styles shared across Design System site.
*/

@import "../../../ds-css/src/styles/cbp-ds.scss";

/* iFrame style for height. Need to revisit this. */
iframe {
  height: 358px !important;
}

/* iFrame style for height. Need to revisit this. */

.spacing-wrapper {
  //heading for main sections
  h2 {
    @extend .cbp-spacing-stack--large;
  }

  h3,
  h4 {
    @extend .cbp-spacing-stack--regular;
  }

  h5,
  h6 {
    @extend .cbp-spacing-stack--small;
  }

  p {
    @extend .cbp-spacing-stack--small;
  }

  section {
    @extend .cbp-spacing-stack--large;
  }

  ol,
  ul {
    margin-top: 0 !important;
    @extend .cbp-spacing-stack--regular;
  }

  img,
  .table {
    @extend .cbp-spacing-stack--small;
  }

  .cbp-subhead-text {
    padding: 0;

    &:last-child {
      @extend .cbp-spacing-stack--regular;
    }
  }

  &:last-child {
    @extend .cbp-spacing-stack--large;
  }
}

.tables-usage--box {
  height: 200px;

  @media screen and (max-width: 1090px) {
    height: 300px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Temporary class until grid sizing, padding guidance is completed */

.img-frame {
  box-shadow: 0 3.3px 2.7px rgba(0, 0, 0, 0.03),
    0 10px 6.9px rgba(0, 0, 0, 0.031), 0 22.7px 14.2px rgba(0, 0, 0, 0.023),
    0 47.4px 29.2px rgba(0, 0, 0, 0.018);
  width: 80%;
  border-radius: 3px;
  padding: 25px 20px 15px 20px;
}
