/*
  Common styles shared across Design System site.
*/
@use ".../../../../../ds-css/src/styles/config";


/* iFrame style for height. Need to revisit this. */
iframe {
  height: 358px !important;
}

/* iFrame style for height. Need to revisit this. */


.spacing-wrapper {
  // @TODO: Change this to make it more responsive

  position: relative;
  margin-right: 0;

  section {
    margin: 0 config.$cbp-extra-lg-space;
  }

  //heading for main sections
  h2 {
    @extend .cbp-spacing-stack--large;
    padding-top: config.$cbp-lg-space;
    font-weight: 500;
  }

  h3 {
    @extend .cbp-spacing-stack--regular;
    padding-top: config.$cbp-lg-space;
  }

  h4,
  h5,
  h6 {
    @extend .cbp-spacing-stack--small;
    padding-top: config.$cbp-sm-space;
    color: config.$grey-dark;
  }

  h2+p,
  h3+p,
  h4+p,
  h5+p,
  h6+p {
    @extend .cbp-spacing-stack--small
  }

  .cbp-body+.cbp-body {
    padding-bottom: 1.6rem;
  }

  .cbp-subhead-text {
    padding: 0;
  }

  figure,
  .table,
  img {
    @extend .cbp-spacing-stack--small;
    padding-top: config.$cbp-sm-space;
    max-width: 70vw;
  }

  //This has to be margin due to Bulma's custom styling.
  ol,
  ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: 75rem;

  }

  .padding-bottom {
    @extend .cbp-spacing-stack--small;
  }

  &:last-child {
    @extend .cbp-spacing-stack--large;
  }
}

.monospace-text {
  font-family: "RobotoMono", monospace;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 50vw;
  background-color: config.$grey-lightest;
  height: 2px;

}

.tables-usage--box {
  height: 200px;

  @media screen and (max-width: 1090px) {
    height: 300px;
  }
}

.tabs--scroll {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.tabs__container {
  z-Index: 120;
  background-color: white;
  width: 100%;

  //compatibility with safari
  overflow: visible;
  height: 3rem;
  display: block;

  //override bulma tabs margin default (mixins.sass)
  margin-bottom: 0 !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Temporary class until grid sizing, padding guidance is completed */

.img-frame {
  box-shadow: 0 3.3px 2.7px rgba(0, 0, 0, 0.03),
    0 10px 6.9px rgba(0, 0, 0, 0.031), 0 22.7px 14.2px rgba(0, 0, 0, 0.023),
    0 47.4px 29.2px rgba(0, 0, 0, 0.018);
  width: 80%;
  border-radius: 3px;
  padding: 25px 20px 15px 20px;
}
