/*
  Common styles shared across Design System site.
*/

/* Color variables */
$cbp-default: #ffffff;
$cbp-primary: #00416a;
$universal-header: #003e65;
$grey-base: #000000;
$grey-lightest: #f6f6f6;

/* iFrame style for height. Need to revisit this. */
iFrame {
  height: 358px !important;
}
/* iFrame style for height. Need to revisit this. */

/* Temporary class until grid sizing, padding guidance is completed */

.heading-pad-temp {
  padding: 5rem 2rem 3rem 2rem;
}

.section-pad-temp {
  padding-bottom: 3rem;
}

.one-half-pad-temp {
  padding: 1.5rem;
}

.li-margin {
  margin-left: 1em;
}

.tables-usage--box {
  height: 200px;
  @media screen and (max-width: 1090px) {
    height: 300px;
  }
}

section {
  margin: 1.5rem auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Temporary class until grid sizing, padding guidance is completed */

.img-frame {
  box-shadow:
  0 3.3px 2.7px rgba(0, 0, 0, 0.03),
  0 10px 6.9px rgba(0, 0, 0, 0.031),
  0 22.7px 14.2px rgba(0, 0, 0, 0.023),
  0 47.4px 29.2px rgba(0, 0, 0, 0.018),
;
  width: 80%;
  border-radius: 3px;
  padding: 25px 20px 15px 20px;
}

.dropdown-content, .dropdown-trigger {
  position: relative;
  left: 18px;
  top: 5px;

}

.dropdown-container {
  margin-bottom: 2rem;
}

.menu-text {
  position: relative;
  left: 18px;
}

.menu {
  overflow-y: auto;
  // padding: 24px;
  background-color: $grey-lightest;
  font-size: $cbp-body-text;
  padding: 0;
  margin: 0;
}

.menu-list {
  font-size: 1rem;
  > li {
    a {
      &:hover {
        background-color: $grey-lighter;
        color: $cbp-info;
        font-weight: $cbp-weight-medium;
      }
    }
  }
}

.menu-label {
  position: relative;
  left: 28px;
  font-weight: bold;
  margin-top: 10px;
}
