@include pill-variant(default, $brand-default, $gray-dark, $brand-default-border);
@include pill-variant(primary, $brand-primary, $body-bg, $brand-primary-border);
@include pill-variant(success, $brand-success, $body-bg, $brand-success-border);
@include pill-variant(warning, $brand-warning, $gray-base, $brand-warning-border);
@include pill-variant(live, $brand-live, $gray-dark, $gray-base);
@include pill-variant(danger, $brand-danger, $body-bg, $brand-danger-border);
@include pill-variant(info, $brand-info, $body-bg, $brand-info-border);
@include pill-variant(inverse, $body-bg, $gray-darker, $gray-light);

@include button-mixin($brand-default, $gray-dark, $brand-default-border);
@include button-mixin($brand-primary, $body-bg, $brand-primary-border, primary);
@include button-mixin($brand-success, $body-bg, $brand-success-border, success);
@include button-mixin($brand-warning, $gray-base, $brand-warning-border, warning);
@include button-mixin($brand-live, $gray-dark, $gray-base, live);
@include button-mixin($brand-danger, $body-bg, $brand-danger-border, danger);
@include button-mixin($brand-info, $body-bg, $brand-info-border, info);
@include button-mixin($body-bg, $gray-dark, lighten($gray-light, 20%), inverse);

.btn {
  font-weight: normal;
  font-size: $font-size-base;
  margin: 1px 0px;
}

// FA icons only look good at 13px.
.btn .fa {
  font-size: $font-size-base;
}

.input-group-lg .btn .fa {
  font-size: 18px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  padding: $padding-base-vertical $padding-base-horizontal;
  margin-top: 0px;
  margin-bottom: 0px;
}


.btn-xs, .btn-group-xs > .btn {
  padding: 1px 6px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.3333333;
}

.btn-search {
    width: 5em;
}

// Default cursor for disabled buttons
.btn[disabled],
.btn.disabled,
fieldset[disabled] .btn {
    cursor: default;
}


// A chromeless button until you hover over it, which then looks like btn-default.
.btn.btn-hover {
    border-color: transparent;
    box-shadow: none;
    background: none;
    &:hover {
        @extend .btn-default;
    }
    &:focus {
        @extend .btn-default:focus;
    }
    &:active {
        @extend .btn-default:active;
    }
    &.active {
        @extend .btn-default.active, .btn.active;
    }
}

// Make btn-links bold
.btn-link {
  font-weight: normal;
    box-shadow: none;
}

// Position carets inside of buttons a little better.
.btn .caret {
    position: relative;
    top: -1px;
}

// A button with only an icon.
.btn-icon-only {
    min-width: 33px; // odd pixel is necessary for smooth font rendering
    text-align: center;
    padding: $padding-base-horizontal/2;
    &.btn-sm {
        padding: $padding-small-horizontal/2;
    }
    &.btn-xs {
        padding: $padding-xs-horizontal/2;
    }
}



// A toolbar for hover buttons with separators created by btn-groups.
.btn-toolbar.btn-toolbar-hover {
    margin-left: 0;
    .btn-group {
        border-right: 1px solid #ddd;
        padding-right: 5px;
        &:last-child {
            border-right: 0;
        }
    }

    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn-group > .btn {
        padding: 3px 8px;
        min-width: 0;
    }
}

.circle-btn {
  @include border-radius(50%);
}

.return-to-top-btn {
  margin-right: 1.5em;
  font-size: 19px;
  background-color: #FFF;
  width: 30px;
  height: 30px;
  @include transition(all 0.3s ease);

  i {
    color: $gray-dark;
    left: 5px;
    position: relative;
    top: 4px;
    @include transition(all 0.3s ease);
  }

  &:hover {
    background-color: $gray-lighter;

    i {
      color: $gray-dark;
      top: 0;
    }
  }
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
