.nav-pills {
    > li.active > a {
        &,
        &:hover,
        &:focus {
            background-color: #eee;
            color: $text-color;
        }
    }
}

.nav-tabs {
    > li {
        > a {
            margin-right: -1px;
            // background-color: transparent;
            // border-color: $nav-tabs-border-color;
        }
        &.disabled > a {
            color: #999;
        }
        &.active > a {
            background-color: $nav-tabs-active-link-hover-bg;
        }

        &.open > a,
        &.open > a:focus {
            border-color: $nav-tabs-border-color;
        }
    }
    &.nav-justified {
        // > li + li > a,
        // > .active + li > a,
        // > .active + li > a:focus {
        //     border-left: 0;
        // }
        // > li + .active > a,
        // > li + .active > a:focus {
        //     border-left: 0;
        // }
        > .active > a,
        > .active > a:hover,
        > .active > a:focus {
            border-bottom-color: #fff;
        }

        @media (max-width: $screen-xs-max) {
            > .active > a,
            > li > a {
                background: #fff;
                border-color: $nav-tabs-border-color;
            }
        }
    }
}

.nav-centered {
    text-align: center;
    > li {
        float: initial;
        display: inline-block;
    }
}

.nav-tabs.nav-tabs-light {
    border-bottom: 1px solid transparent;
    > li {
        margin-bottom: -1px;
        > a {
            border: none;
            background: transparent;
            border-bottom: 2px solid transparent;

            &.btn {
                margin-top: 2px;
                margin-bottom: 0px;
            }
        }
        &.disabled > a {
            &:hover {
                border-bottom-color: transparent;
            }
        }
        > a:hover , a:focus {
            border: none;
            background: transparent;
            border-bottom: 2px solid $brand-info;
        }
        &.active > a{
            color: $brand-primary;
            font-weight: 500;
        }
        &.active > a,
        &.active > a:hover,
        &.active > a:focus,
        &.active > a:active,
        &.open > a {
            border: none;
            background: transparent;
            border-bottom: 2px solid $brand-primary;
        }

        
    }
}
