{
  "plugins": [
    "stylelint-scss"
  ],
      "extends": "stylelint-config-recommended",

  "rules": {
      "scss/at-rule-no-unknown": true,
      "scss/at-extend-no-missing-placeholder": true,
      "scss/at-function-parentheses-space-before": "always",
      "scss/at-if-no-null": true,
      "scss/at-mixin-named-arguments": "always",
      "scss/at-mixin-parentheses-space-before": "always",
      "scss/dimension-no-non-numeric-values": true,
      "scss/dollar-variable-colon-space-after": "at-least-one-space",
      "scss/dollar-variable-no-missing-interpolation": true,
      "scss/double-slash-comment-empty-line-before": "never",
      "scss/double-slash-comment-whitespace-inside": "always",
      "scss/function-quote-no-quoted-strings-inside": true,
      "scss/function-unquote-no-unquoted-strings-inside": true,
      "scss/map-keys-quotes": "always",
      "scss/media-feature-value-dollar-variable": "never",
      "scss/operator-no-newline-before": true,
      "scss/operator-no-newline-after": true,
      "scss/operator-no-unspaced": true,
      "scss/selector-nest-combinators": "always",
       

    "at-rule-empty-line-before": [ "always", {
      "except": [ "inside-block" ],
      "ignore": ["after-comment", "first-nested", "blockless-after-blockless", "blockless-after-same-name-blockless"],
    } ],

    "at-rule-no-unknown": null,
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-newline-after": "always",
    "at-rule-semicolon-space-before": "never",
    "at-rule-name-case": "lower",

    "block-closing-brace-newline-after": "always",

    "block-closing-brace-newline-before": "always-multi-line",
    "block-closing-brace-space-before": "always-single-line",
    "block-no-empty": true,
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",
    "color-hex-case": [ "lower", { "severity": "warning" }
    ],
    "color-hex-length": "long",
    "color-no-invalid-hex": true,

    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-semicolon-newline-after": "always-multi-line",
    "declaration-block-semicolon-space-after": "always-single-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "font-family-name-quotes": "always-unless-keyword",
    "function-calc-no-unspaced-operator": true,
    "function-comma-newline-after": "always-multi-line",
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-parentheses-newline-inside": "always-multi-line",
    "function-parentheses-space-inside": "never-single-line",
    "function-whitespace-after": "always",
    "length-zero-no-unit": true,
    "max-empty-lines": 1,
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "media-query-list-comma-newline-after": "always-multi-line",
    "media-query-list-comma-space-after": "always-single-line",
    "media-query-list-comma-space-before": "never",
    "no-invalid-double-slash-comments": true,
   
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-space-before": "never",
    "selector-pseudo-element-colon-notation": "double",
    "string-no-newline": true,
    "string-quotes": "double",
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
  },
}
