@charset "utf-8";

// GLOBAL VARIABLES

// INTRODUCTION: for customizations to Bulma for matching up with the CBP Global Variables.

// Everything is in alphabetical order w/in each section

// ** Only global variables, nothing pertaining to a specific element/component/object
// Note: For all customizations to non-gelobal variables, need to find inside those more specific files.

// Beginning of Customizations

// Set CBP Brand (Primary Palette) Colors

// Overidden variables 
// (* w/in the /initial-variables.sass Bulma file)
$grey:                              #555555;
$grey-dark:                         #333333;
$grey-darker:                       #222222;
$grey-light:                        #aaaaaa;
$grey-lighter:                      #eeeeee;
$white:                             #ffffff;

// New variables (that are Similar & Extend) current global Bulma variables
$grey-base:                         #000000 !default;
$grey-lightest:                     #f6f6f6 !default;
$grey-medium:                       #808080 !default;

//////////////////////////////////////////////////////////////

// Set CBP Brand (Notification/Alert/Message) BACKGROUND Colors

// New variables
$cbp-danger:                        #a00000 !default;
$cbp-default:                       #ffffff !default;
$cbp-info:                          #1460aa !default;
$cbp-live:                          #FFEB7A !default;
$cbp-primary:                       #00416A !default;
$cbp-success:                       #008000 !default;
$cbp-warning:                       #f09511 !default;

// (* w/in the /derived-variables.sass Bulma file)

// Overidden values using new CBP Brand variables as the reference = "First-Class" status
$danger: $cbp-danger !default;
$info: $cbp-info !default;
$primary: $cbp-primary !default;
$success: $cbp-success !default;
$warning: $cbp-warning !default;

// New variables (not yet in use w/in Bulma) using CBP "First-Class" referenced variables
$default: $cbp-default !default;
$live: $cbp-live !default;

// General CBP Brand (DOM Element) BACKGROUND Colors
// (* w/in the /derived-variables.sass Bulma file)

// Overidden
$background: $white !default;

// Set CBP Brand (Notification/Alert/Message) BORDER Colors
// (* w/in the /derived-variables.sass Bulma file)

// New variables
$cbp-danger-border:               #aa0000 !default;
$cbp-default-border:              #adadad !default;
$cbp-info-border:                 #0f4880 !default;
$cbp-live-border:                 #E6D261 !default;
$cbp-primary-border:              #0A3055 !default;
$cbp-success-border:              #134d13 !default;
$cbp-warning-border:              #4a2e1f !default;

// Set CBP Brand (Notification/Alert/Message) TEXT Colors

// New variables
$cbp-warning-text:               #A44900 !default; 

// Set CBP Branch LINK Color

// Overidden variables
$link:                           $cbp-primary !default;

// Set CBP Branch LINK Color State(s)

// Overidden variables
$link-hover:                     #001B44 !default;


@import "~bulma/bulma";


// @ Import only what we need from Bulma goes here




