/* Mixin for Floating Action Button */
@mixin float ($background, $hover-background) {
  background-color: $background;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: $cbp-text-lightest;
  cursor: pointer;
  font-size: 24px;
  height: 56px;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 56px;
  z-index: 99998;

  & > i {
    margin-right: 0;
  }

  &:hover {
    background-color: $hover-background;
  }

  &:focus:not([disabled]) {
    @extend .btn-focus;
  }

  &:disabled {
    background-color: $cbp-disabled-light;
    color: $cbp-disabled-dark;
  }

  &:active:not([disabled]) {
    @extend .btn-active;
    cursor: grabbing;
  }
}

/* Mixin for Square Button */
@mixin square ($background-color, $color, $hover-bg) {
  background-color: $background-color;
  color: $color;
  width: 36px;

  & > i {
    margin-right: 0;
  }

  &:hover:not([disabled]) {
    background-color: $hover-bg;
  }

  &:focus:not([disabled]) {
    @extend .btn-focus;
  }

  &:active:not([disabled]) {
    @extend .btn-active;
  }
}

/* Extended Classes */

/* PRIMARY DISABLE PROPERTIES */
.btn-disabled {
  background: $cbp-disabled-light;
  color: $cbp-disabled-dark;
  cursor: pointer;
  font-style: italic;
  font-weight: 500;

  &:hover {
    background-color: #ADADAD;
    color: $cbp-text-darkest;
  }
}

/* PRIMARY FOCUS PROPERTIES */
.btn-focus {
  background: $cbp-focus-dark;
  color: #fff;
  outline: 2px solid #fff;
  outline-offset: -4px;

  &:hover {
    background-color: $cbp-focus-dark;
    color: #fff;
  }
}

/* ACTIVE (:active) PROPERTIES */
.btn-active {
  @extend .btn-focus;
  outline: none;
}

/* OUTLINE ACTIVE STATE PROPERTIES */
.btn-outline-active {
  background: #fff;
  border: 2px solid #1B2B85;
  box-shadow: none;
  color: #1B2B85;
  font-style: italic;
}

/* GHOST ACTIVE STATE PROPERTIES */
.btn-ghost-active {
  @extend .btn-outline-active;
  border: 0;
}

/* PRIMARY OUTLINE DISABLED PROPERTIES*/
.btn-outline-disabled {
  background: #FFF;
  border: 2px solid #ADADAD;
  color: #ADADAD;
  cursor: not-allowed;
  font-style: italic;
  
  &:hover {
    background-color: #E6E6E6;
    border: 2px solid #E6E6E6;
    color: $cbp-text-darker;
    font-weight: 700;
  }
}

/* GHOST DISABLED PROPERTIES */
.btn-ghost-disabled {
  color: #ADADAD; // $cbp-disabled-dark
  font-style: italic;

  &:hover {
    background-color: #E6E6E6;
    color: $cbp-text-darker;
    font-weight: 700;
  }
}

span.ripple {
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Extended Classes */

.cbp-btn-group { 
  display: flex;
  justify-content: space-between;

  &--around { justify-content: space-around; }
  &--center { justify-content: center; }
  &--left { justify-content: flex-start; }
  &--right { justify-content: flex-end; }
}

.cbp-btn {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 1.08px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms;

  & > i {
    margin-right: 8px;
    pointer-events: none;
  }

  &--primary {
    background-color: $cbp-ui-primary-dark;
    color: $cbp-text-lightest;

    /* HOVER */
    &:hover:not([disabled]) {
      background-color: $cbp-ui-primary-darker;
      font-weight: 700;
    }

    /* FOCUSED */
    &:focus:not([disabled]) {
      @extend .btn-focus;
    }
    
    /* DISABLED */
    &:disabled {
      @extend .btn-disabled;

      &:hover {
        background: $cbp-disabled-dark;
        color: $cbp-text-darkest;
        font-weight: 700;
      }

      &:focus {
        @extend .btn-focus;
      }
    }
    
    &:active:not([disabled]) {
      @extend .btn-active;
    }

    /* PRIMARY OUTLINE */
    &-outline {
      background-color: #fff;
      border: 2px solid #0050D8;
      color: #0050D8;

      /* PRIMARY OUTLINE HOVER */
      &:hover:not([disabled]) {
        background-color: $cbp-ui-primary-dark;
        border-color: $cbp-ui-primary-dark;
        color: #fff;
        font-weight: 700;
      }

      /* PRIMARY OUTLINE FOCUS */
      &:focus:not([disabled]) {
        @extend .btn-focus;
        border: 2px solid $cbp-focus-dark;
      }  

      /* PRIMARY OUTLINE DISABLED */
      &:disabled {
        @extend .btn-outline-disabled;
      }

      /* PRIMARY OUTLINE ACTIVE - On-click/Press-down */
      &:active:not([disabled]) {
        @extend .btn-active;
      }
    }

    /* PRIMARY GHOST */
    &-ghost {
      background-color: #fff;
      border: 0;
      color: $cbp-ui-primary-dark;

      &:hover:not([disabled]) {
        background: $cbp-ui-primary-lighter;
        font-weight: 700;
      }

      &:focus:not([disabled]) {
        @extend .btn-focus;
      }

      &:disabled {
        @extend .btn-ghost-disabled;
      }

      &:active:not([disabled]) {
        @extend .btn-active;
      }
    }

    /* PRIMARY FLOATING ACTION */
    &-float {
      @include float($cbp-ui-primary-dark, $cbp-ui-primary-darker);
    }

    /* PRIMARY SQUARE BUTTON */
    &-square {
      @include square($cbp-ui-primary-dark, $cbp-text-lightest, $cbp-ui-primary-darker);
    }
  }

  /* SECONDARY BUTTON */
  &--secondary {
    background-color: $cbp-ui-neutral-dark;
    color: $cbp-text-lightest;

    &:hover:not([disabled]) {
      background-color: $cbp-ui-neutral-darker;
      font-weight: 700;
    }

    &:focus:not([disabled]) {
      @extend .btn-focus;
    }

    &:disabled {
      @extend .btn-disabled;
    }

    &:active:not([disabled]) {
      @extend .btn-active;
    }

    /* SECONDARY BUTTON OUTLINE */
    &-outline {
      background: #FFF;
      border: 2px solid #5D5D5D;
      color: #5D5D5D;

      /* SECONDARY BUTTON OUTLINE HOVER */
      &:hover:not([disabled]) {
        background-color: $cbp-ui-neutral-darker;
        border: 2px solid transparent;
        color: #fff;
      }

      /* SECONDARY BUTTON OUTLINE DISABLED */
      &:disabled {
        @extend .btn-outline-disabled;
      }

      &:focus:not([disabled]) {
        @extend .btn-focus;
        border: 2px solid transparent;
        color: #fff;
      }

      /* SECONDARY BUTTON OUTLINE ACTIVE*/
      &:active:not([disabled]) {
        @extend .btn-active;
      }
    }

    /* SECONDARY GHOST BUTTON */
    &-ghost {
      background-color: #fff;
      border: 0;
      color: $cbp-ui-neutral-dark;

      &:hover:not([disabled]) {
        background: $cbp-ui-neutral-lighter;
      }

      &:focus:not([disabled]) {
        @extend .btn-focus;
      }

      &:active:not([disabled]) {
        @extend .btn-active;
      }

      &:disabled {
        @extend .btn-ghost-disabled;
      }
    }

    /* SECONDARY FLOATING ACTION */
    &-float {
      @include float($cbp-ui-neutral-dark, $cbp-ui-neutral-darker);
    }

    /* SECONDARY SQUARE BUTTON */
    &-square {
      @include square($cbp-ui-neutral-dark, $cbp-text-lightest, $cbp-ui-neutral-darker);
    }
  }

  /* BUTTON DANGER */
  &--danger {
    background-color: #D54309;
    color: #fff;

    /* BUTTON DANGER HOVER */
    &:hover:not([disabled]) {
      background-color: #9C3D10;
    }

    /* BUTTON DANGER FOCUS */
    &:focus:not([disabled]) {
      @extend .btn-focus;
      border: 2px solid transparent;
      color: #fff;
    }

    &:active:not([disabled]) {
      @extend .btn-active;
    }

    &:disabled {
      @extend .btn-disabled;
    }

    /* BUTTON DANGER OUTLINE */
    &-outline {
      background-color: #FFF;
      border: 2px solid #D54309;
      color: #D54309;

      /* BUTTON DANGER SECONDARY HOVER */
      &:hover:not([disabled]) {
        background-color: #9C3D10;
        color: $cbp-text-lightest;
        border: 2px solid transparent;
      }

      /* BUTTON DANGER FOCUS */
      &:focus:not([disabled]) {
        @extend .btn-focus;
        border: 2px solid transparent;
      }
      
      &:active:not([disabled]) {
        @extend .btn-active;
      }

      /* BUTTON DANGER DISABLED */
      &:disabled {
        @extend .btn-outline-disabled;
      }
    }

    /* DANGER GHOST BUTTON */
    &-ghost {
      background-color: #fff;
      border: 0;
      color: #D54309;

      &:hover:not([disabled]) {
        background: #fce1d4;
        color: #9C3D10;
        font-weight: 700;
      }

      &:focus:not([disabled]) {
        @extend .btn-focus;
      }

      &:disabled {
        @extend .btn-ghost-disabled;
      }

      &:active:not([disabled]) {
        @extend .btn-active;
      }
    }

    /* DANGER SQUARE BUTTON */
    &-square {
      @include square(#D54309, $cbp-text-lightest, #9C3D10);
    }
  }

  /* SEGMENTED BUTTONS */
  &--segment {
    display: flex;
    width: fit-content;
    
    button {
      @extend .cbp-btn;
      background-color: #fff;
      border: 2px solid $cbp-ui-neutral-dark;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: .5px solid $cbp-ui-neutral-dark;
      }

      &:not(:first-child):not(:last-child) {
        border-left: 0.5px solid $cbp-ui-neutral-dark;
        border-right: 0.5px solid $cbp-ui-neutral-dark;
        border-radius: 0;
      }

      &:last-child {
        border-left: 0.5px solid $cbp-ui-neutral-dark;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover:not([disabled]) {
        background-color: $cbp-ui-neutral-darker;
        color: #fff;
      }

      &:focus:not([disabled]) {
        @extend .btn-focus;
      }

      & > i {
        margin-right: 0;
      }
    }

    .active {
      background-color: $cbp-selected-dark;
      color: #fff;
    }
  }

  &--cta {
    @extend .cbp-btn--primary;
    font-size: 18px;
    height: 52px;
    padding: 0 16px;

    & > i {
      margin-right: 12px;
    }
  }

  /* ACTIVE STATE PROPERTIES */
  &--active {
    background-color: $cbp-active-dark;
    box-shadow: none;
    font-style: italic;
    outline: none;
  }
}

.cbp-inline-text-link {
  color: $cbp-ui-primary-dark;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: underline;

  &--disabled {
    @extend .cbp-inline-text-link;
    color: #ADADAD;
    cursor: not-allowed;
    font-style: italic;
  }

  &:visited {
    color: $cbp-visited-dark;
  }

  &:hover {
    color: $cbp-ui-primary-dark;
    font-weight: 700;
  }

  &:focus {
    color: $cbp-focus-dark;
    font-weight: 700;
    outline: 2px solid $cbp-focus-dark;
  }
}