.hover-focus {
  background: $cbp-focus-dark !important;
  color: $cbp-white;
}

.focus-outline {
  outline: 2px solid $cbp-white !important;
  outline-offset: -4px !important;
}

.cbp-accordion {
  margin: 24px 0;

  &__item {
    margin-bottom: 12px;
  }

  &__item.active {

    .cbp-accordion__title {
      background-color: $cbp-base-secondary-base;
      color: $cbp-white;

      .fa-angle-down {
        transform: rotate(-180deg);
      }

      &--danger {
        background: $cbp-ui-danger-base;
        color: $cbp-white;

        + .cbp-accordion__content {
          border-color: $cbp-ui-danger-base;
        }
      }
    }

    .cbp-accordion__content {
      display: block;
      max-height: fit-content;
      border-bottom: 4px solid $cbp-base-secondary-base;
      border-left: 4px solid $cbp-base-secondary-base;
      border-right: 4px solid $cbp-base-secondary-base;
      .cbp-accordion__footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        margin-top: 16px;
      }
    }

  }

  &__title {
    align-items: center;
    background: $cbp-gray-cool-2; // $ui-neutral-lighter
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    outline: transparent;
    padding: 16px;
    transition: all 300ms;
    width: 100%;

    .fa-angle-down {
      font-size: 18px;
      transition: transform .2s ease-in-out;
    }

    .title-left span {
      margin-left: 16px;
    }

    &:hover {
      background-color: $cbp-ui-neutral-light;
    }

    &:focus {
      @extend .hover-focus;
      @extend .focus-outline;
    }

    &:focus + .cbp-accordion__content {
      border-bottom: 4px solid $cbp-focus-dark !important;
      border-left: 4px solid $cbp-focus-dark !important;
      border-right: 4px solid $cbp-focus-dark !important;
    }

    &--danger {
      background: $cbp-ui-danger-base;
      color: $cbp-white;

      &:hover {
        background: $cbp-ui-danger-dark;
      }

      &:focus {
        @extend .hover-focus;
        @extend .focus-outline;
      }
    }
  }

  &__content {
    background: $cbp-white;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    > * { margin: 16px }
  }
}

// Hover States
.cbp-accordion__item.active {
  &:hover .cbp-accordion__title {
    background-color: $cbp-base-secondary-dark;
  }

  &:hover .cbp-accordion__content {
    border-bottom: 4px solid $cbp-base-secondary-dark;
    border-left: 4px solid $cbp-base-secondary-dark;
    border-right: 4px solid $cbp-base-secondary-dark;
  }

  &:hover .cbp-accordion__title--danger {
    background-color: $cbp-ui-danger-dark;
  }

  &:hover .cbp-accordion__title--danger + .cbp-accordion__content {
    border-bottom: 4px solid $cbp-ui-danger-dark;
    border-left: 4px solid $cbp-ui-danger-dark;
    border-right: 4px solid $cbp-ui-danger-dark;
  }
}
