.mr-2 {
  margin-right: 8px;
}

// CBP Badges
.cbp-badge {
  align-items: center;
  background-color: $cbp-info-base;
  border-radius: 12px;
  color: $cbp-white;
  cursor: default;
  display: flex;
  font-size: 10px;
  height: 24px;
  justify-content: center;
  text-align: center;
  width: 24px;

  &--danger {
    background-color: $cbp-ui-danger-base;
  }
}

// CBP Tags
.cbp-tag {
  @extend .cbp-text-subhead;
  align-items: center;
  background-color: $cbp-info-base;
  border-radius: 14px;
  color: $cbp-white;
  cursor: default;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0 12px;
  width: fit-content;

  & > i::after {
    content: '\a0\a0';
  }

  &--warning {
    background-color: $cbp-ui-warning-base;
    color: $cbp-black;
  }

  &--success {
    background-color: $cbp-ui-success-base;
  }

  &--danger {
    background-color: $cbp-danger;
  }
}

// CBP Chips
.cbp-chips {
  @extend .cbp-text-subhead;
  align-items: center;
  background-color: $cbp-ui-neutral-base;
  border-radius: 14px;
  color: $cbp-white;
  display: flex;
  height: 28px;
  justify-content: center;
  padding-left: 12px;
  text-transform: uppercase;
  width: fit-content;

  &--active {
    background-color: $cbp-active-dark;
    
    &:hover { 
      background-color: $cbp-active-dark; 
    }

    & > span + .plus-border {
      transform: rotate(-45deg);
    }
  }

  & > span + .plus-border {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 14px;
    display: flex;
    height: 90%;
    justify-content: center;
    margin-left: 4px;
    width: 24px;
  }

  &:hover {
    cursor: pointer;

    > span + .plus-border {
      background-color: #454540;
    }
  }

  &:focus {
    background-color: $cbp-focus-dark;
    outline: none;

    > span + .plus-border {
      background-color: transparent;
      border-color: $cbp-white;
    }
  }

}

