.cbp-form__control--range {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > i {
    color: $cbp-text-darkest;
    font-size: 16px;

    &:first-child {
      margin-right: 8px;  
    }

    &:last-child {
      margin-left: 8px;  
    }
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  width: 100%;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus:not([disabled]) {
    outline: none;

    &::-moz-range-thumb {
      @include thumb-focus;
    }

    &::-webkit-slider-thumb {
      @include thumb-focus;
    }

    &::-ms-thumb {
      @include thumb-focus;
    }
  }

  /* Google Chrome */
  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: $thumb-margin;
  }

  /* Mozilla Firefox */
  &::-moz-range-track {
    @include track;
    height: 4px;
  }

  &::-moz-range-progress {
    @include fill;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  /* Microsoft Edge */
  &::-ms-track {
    @include track;
  }
  
  /* Document needed that the pseudo classes for IE (-ms-fill-lower & -ms-fill-upper) do not work in Edge */

  &::-ms-thumb {
    @include thumb;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track{
      cursor: not-allowed;
    }
  }
}
