.appHeader {
  align-items: center;
  background: #ffffff;
  //display: flex;
  height: 57px;
  box-shadow: 0px 4px 5px -4px #c9c9c9;

  ul {
    margin: 0;
    padding: 0;
    display: inherit;

    li {
      list-style-type: none;
      margin-bottom: 0;
      //default USWDS max width for li tags is 68ex.
      max-width: 100% !important;
    }
  }
}

// .cbp-button-close {
//   display: none !important;
// }

.cbp-grid-container {
  //width: 100%;
  height: inherit;
}

button i {
  pointer-events: none;
}

.cbp-row {
  align-items: center;
  height: inherit;
}

.appHeader-menu {
  display: flex;
  min-width: fit-content;
  height: inherit;
}

.appHeader-heading {
  display: inline-block;
  min-width: 153px;
  margin: auto $cbp-size-3 auto 0;
}

.appHeader-dropdown-item {
  display: flex;
  align-items: center;

  a {
    margin: $cbp-size-105;
    text-decoration: none;
  }

  &:hover {
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: 0 0 5px 5px;
  }
}

.usa-button--unstyled {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.appHeader-dropdown {
  text-decoration: none;
}

.usa-search {
  width: fit-content;
}

.dropdown-content {
  background: $cbp-ui-primary-darker;
  border-radius: 0 5px 5px 5px;
  display: none;
  min-width: 12em;
  max-width: 15em;
  position: absolute;
  z-index: 1;

  &.show {
    display: block;
  }

  li {
    list-style-type: none;
    height: auto;
    min-height: $cbp-size-3;
  }

  ul {
    padding: 0;
    margin-top: $cbp-size-1;
  }
}

.dropdown-item-active {
  background: $cbp-ui-primary-darker;
  span {
    color: white;
  }
  .appHeader-text {
    &:hover {
      box-shadow: none;
    }
  }
}

// .dropdown-header-mobile {
//   display: none;

//   .usa-button {
//     &:hover {
//       background: transparent;
//     }
//   }
// }
.search-mobile {
  display: none;
}

.menu-mobile-btn {
  display: none;
}

.appHeader-item {
  margin-right: $cbp-size-2;
  // &:hover,
  // &:active {
  //   background: $cbp-ui-primary-darker;
  // }
}

.appHeader-text {
  @extend .cbp-text-dark;
  align-items: center;
  display: flex;
  height: 4rem;
  padding: 0 $cbp-size-1;
  //USWDS default h6 style is set to text-transform: uppercase.
  text-transform: none;

  &:hover {
    // color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0 -4px 0 0 $cbp-active-dark;
  }

  i {
    margin-left: $cbp-size-1;
  }
}

@media only screen and (max-width: 1023px) {
  .search-mobile {
    align-items: center;
    border: 2px solid $cbp-ui-primary-dark;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    &:hover {
      color: $cbp-active-dark;
      border: 2px solid $cbp-active-dark;
    }
  }

  .cbp-button-close {
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
  }

  .menu-mobile-btn {
    display: none;
  }

  .usa-search {
    display: none !important;
  }
}

//1150px
@media only screen and (max-width: 82em) {
}

//768px
@media only screen and (max-width: 55em) {
  .appHeader-item {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    &:hover,
    &:focus {
      background: $cbp-base-lightest;
    }
  }

  .appHeader-heading {
    margin: 0;
  }

  .appHeader-menu {
    flex-direction: column;
    height: inherit;
    width: inherit;
    padding: $cbp-size-2;
  }

  .appHeader-text {
    padding: 0;
    &:hover,
    &:focus {
      border: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .search-menu-mobile {
    display: none;
  }

  .menu-mobile-btn {
    align-items: center;
    border: 2px solid $cbp-ui-primary-dark;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    &:hover {
      color: $cbp-active-dark;
      border: 2px solid $cbp-active-dark;
    }
  }

  .menu-mobile {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: fixed;
    padding: $cbp-size-2;
    right: 0;
    top: 0;
  }

  .search-mobile {
    display: none;
  }
}
