.appHeader {
  align-items: center;
  background: #ffffff;
  //display: flex;
  height: 57px;
  box-shadow: 0px 4px 5px -4px #c9c9c9;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 0;
      //default USWDS max width for li tags is 68ex.
      max-width: 100% !important;
    }
  }
}
.appHeader-heading {
  display: inline-block;
  min-width: 153px;
}

.appHeader-list {
  display: flex;
  min-width: fit-content;
}

.usa-button--unstyled {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.cbp-grid-container {
  //width: 100%;
  height: inherit;
}

.cbp-row {
  align-items: center;
  height: inherit;
}

.appHeader-dropdown {
  text-decoration: none;
}

.usa-search {
  width: fit-content;
}

.dropdown-content {
  background: $cbp-active-dark;
  border-radius: 0 0 5px 5px;
  display: none;
  margin-top: $cbp-size-1;
  min-width: 12em;
  max-width: 15em;
  position: absolute;
  z-index: 1;

  &.show {
    display: block;
  }
}

// .dropdown-header-mobile {
//   display: none;

//   .usa-button {
//     &:hover {
//       background: transparent;
//     }
//   }
// }
.search-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

.appHeader-item {
  margin-right: $cbp-size-3;
}

.appHeader-text {
  @extend .cbp-text-dark;
  align-items: center;
  display: flex;
  height: 4rem;

  //USWDS default h6 style is set to text-transform: uppercase.
  text-transform: none;

  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -4px 0 0 $cbp-active-dark;
  }

  i {
    margin-left: $cbp-size-1;
  }
}

@media only screen and (max-width: 1023px) {
  .search-mobile {
    align-items: center;
    border: 2px solid $cbp-ui-primary-dark;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    &:hover {
      color: $cbp-active-dark;
      border: 2px solid $cbp-active-dark;
    }
  }

  .menu-mobile {
    display: none;
  }

  .usa-search {
    display: none !important;
  }
}

@media only screen and (max-width: 1150px) {
}

@media only screen and (max-width: 768px) {
  .appHeader-list {
    display: none;
  }

  .menu-mobile {
    align-items: center;
    border: 2px solid $cbp-ui-primary-dark;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    &:hover {
      color: $cbp-active-dark;
      border: 2px solid $cbp-active-dark;
    }
  }

  .search-mobile {
    display: none;
  }
}
