//MAIN BG
$cbp-main-bg-light: #f7f9fa;
$cbp-main-bg-dark: $cbp-gray-cool-80 !default;

//BASE
$cbp-base-lightest: $cbp-gray-cool-4 !default;
$cbp-base-lighter: $cbp-gray-cool-10 !default;
$cbp-base-light: $cbp-gray-cool-30 !default;
$cbp-base: $cbp-gray-cool-50 !default;
$cbp-base-dark: $cbp-gray-cool-60 !default;
$cbp-base-darker: $cbp-gray-cool-80 !default;
$cbp-base-darkest: $cbp-gray-cool-90 !default;

//ACCENT PRIMARY
$cbp-accent-primary-lighter: $cbp-blue-cool-10 !default;
$cbp-accent-primary-light: $cbp-blue-cool-30 !default;
$cbp-accent-primary: $cbp-blue-cool-50 !default;
$cbp-accent-primary-dark: $cbp-blue-cool-60 !default;
$cbp-accent-primary-darker: $cbp-blue-cool-70 !default;

//ACCENT SECONDARY
$cbp-accent-secondary-lighter: $cbp-mint-cool-10 !default;
$cbp-accent-secondary-light: $cbp-mint-cool-30 !default;
$cbp-accent-secondary: $cbp-mint-cool-50 !default;
$cbp-accent-secondary-dark: $cbp-mint-cool-60 !default;
$cbp-accent-secondary-darker: $cbp-mint-cool-70 !default;

//UI PRIMARY
$cbp-ui-primary-lighter: $cbp-blue-warm-10 !default;
$cbp-ui-primary-light: $cbp-blue-warm-30 !default;
$cbp-ui-primary: $cbp-blue-warm-50 !default;
$cbp-ui-primary-dark: $cbp-blue-warm-60 !default;
$cbp-ui-primary-darker: $cbp-blue-warm-70 !default;

//UI NEUTRAL
$cbp-ui-neutral-lighter: $cbp-gray-warm-10 !default;
$cbp-ui-neutral-light: $cbp-gray-warm-30 !default;
$cbp-ui-neutral: $cbp-gray-warm-50 !default;
$cbp-ui-neutral-dark: $cbp-gray-warm-60 !default;
$cbp-ui-neutral-darker: $cbp-gray-warm-70 !default;

//TEXT
$cbp-text-lightest: $cbp-gray-1 !default;
$cbp-text-lighter: $cbp-gray-5 !default;
$cbp-text-light: $cbp-gray-20 !default;
$cbp-text: $cbp-gray-30 !default;
$cbp-text-dark: $cbp-gray-50 !default;
$cbp-text-darker: $cbp-gray-70 !default;
$cbp-text-darkest: $cbp-gray-90 !default;

//INFO
$cbp-info-lighter: $cbp-cyan-10 !default;
$cbp-info-light: $cbp-cyan-30 !default;
$cbp-info: $cbp-cyan-50 !default;
$cbp-info-dark: $cbp-cyan-60 !default;
$cbp-info-darker: $cbp-cyan-70 !default;

//SUCCESS
$cbp-success-lighter: $cbp-green-cool-10 !default;
$cbp-success-light: $cbp-green-cool-30 !default;
$cbp-success: $cbp-green-cool-50 !default;
$cbp-success-dark: $cbp-green-cool-60 !default;
$cbp-success-darker: $cbp-green-cool-70 !default;

//WARNING
$cbp-warning-lighter: $cbp-yellow-5 !default;
$cbp-warning-light: $cbp-yellow-10 !default;
$cbp-warning: $cbp-yellow-20 !default;
$cbp-warning-dark: $cbp-yellow-30 !default;
$cbp-warning-darker: $cbp-yellow-50 !default;

//DANGER
$cbp-danger-lighter: $cbp-red-warm-10 !default;
$cbp-danger-light: $cbp-red-warm-30 !default;
$cbp-danger: $cbp-red-warm-50 !default;
$cbp-danger-dark: $cbp-red-warm-60 !default;
$cbp-danger-darker: $cbp-red-warm-70 !default;

//FOCUS/HOVER
$cbp-focus-light: $cbp-violet-warm-vivid-20 !default;
$cbp-focus-dark: $cbp-violet-warm-50 !default;

//ACTIVE
$cbp-active-light: $cbp-indigo-cool-10 !default;
$cbp-active-dark: $cbp-indigo-cool-80 !default;

//SELECTED
$cbp-selected-light: $cbp-indigo-warm-10 !default;
$cbp-selected-dark: $cbp-indigo-warm-50 !default;

//VISITED
$cbp-visited-light: $cbp-indigo-5 !default;
$cbp-visited-dark: $cbp-indigo-60 !default;

//DISABLED
$cbp-disabled-light: $cbp-gray-10 !default;
$cbp-disabled-dark: $cbp-gray-40 !default;

.cbp-text-lightest {
  color: $cbp-text-lightest;
}

.cbp-text-lighter {
  color: $cbp-text-lighter;
}

.cbp-text-dark {
  color: $cbp-text-dark;
}

.cbp-text-darker {
  color: $cbp-text-darker;
}

.cbp-text-darkest {
  color: $cbp-text-darkest;
}

.cbp-bg {
  background-color: $cbp-main-bg-light;

  &--dark {
    background-color: $cbp-main-bg-dark;
  }
}

.cbp-bg-base-lightest {
  background-color: $cbp-base-lightest;
}

.cbp-bg-base-lighter {
  background-color: $cbp-base-lighter;
}

.cbp-bg-base-light {
  background-color: $cbp-base-light;
}

.cbp-bg-base {
  background-color: $cbp-base;
}

.cbp-bg-base-dark {
  background-color: $cbp-base-dark;
}

.cbp-bg-base-darker {
  background-color: $cbp-base-darker;
}

.cbp-bg-base-darkest {
  background-color: $cbp-base-darkest;
}
