//margins

.cbp-margin-0 {
  margin: 0;
}

.cbp-margin-1px {
  margin: 1px;
}

.cbp-margin-2px {
  margin: 2px;
}

.cbp-margin-05 {
  margin: 4px;
}

.cbp-margin-1 {
  margin: 8px;
}

.cbp-margin-105 {
  margin: 12px;
}

.cbp-margin-2 {
  margin: 16px;
}

.cbp-margin-3 {
  margin: 24px;
}

.cbp-margin-4 {
  margin: 32px;
}

.cbp-margin-5 {
  margin: 40px;
}

.cbp-margin-6 {
  margin: 48px;
}

.cbp-margin-7 {
  margin: 56px;
}

.cbp-margin-8 {
  margin: 64px;
}

.cbp-margin-9 {
  margin: 72px;
}

.cbp-margin-10 {
  margin: 80px;
}

.cbp-margin-15 {
  margin: 120px;
}
