//Sizes
$cbp-size-1px: 1px;
$cbp-size-2px: 2px;
$cbp-size-05: 4px;
$cbp-size-1: 8px;
$cbp-size-105: 12px;
$cbp-size-2: 16px;
$cbp-size-3: 24px;
$cbp-size-4: 32px;
$cbp-size-5: 40px;
$cbp-size-6: 48px;
$cbp-size-7: 56px;
$cbp-size-8: 64px;
$cbp-size-9: 72px;
$cbp-size-10: 80px;
$cbp-size-15: 120px;

$cbp-size-neg-1px: -1px;
$cbp-size-neg-2px: -2px;
$cbp-size-neg-05: -4px;
$cbp-size-neg-1: -8px;
$cbp-size-neg-105: -12px;
$cbp-size-neg-2: -16px;
$cbp-size-neg-3: -24px;
$cbp-size-neg-4: -32px;
$cbp-size-neg-5: -40px;
$cbp-size-neg-6: -48px;
$cbp-size-neg-7: -56px;
$cbp-size-neg-8: -64px;
$cbp-size-neg-9: -72px;
$cbp-size-neg-10: -80px;
$cbp-size-neg-15: -120px;

$cbp-gray-1: #fcfcfc !default;
$cbp-gray-5: #f0f0f0 !default;
$cbp-gray-20: #c9c9c9 !default;
$cbp-gray-30: #adadad !default;
$cbp-gray-50: #757575 !default;
$cbp-gray-70: #454545 !default;
$cbp-gray-90: #1b1b1b !default;

$cbp-gray-10: #e6e6e6 !default;
$cbp-gray-40: #919191 !default;

$cbp-gray-warm-10: #e6e6e2 !default;
$cbp-gray-warm-30: #afaea2 !default;
$cbp-gray-warm-50: #76766a !default;
$cbp-gray-warm-60: #5d5d52 !default;
$cbp-gray-warm-70: #454540 !default;

$cbp-gray-cool-4: #f1f3f6 !default;
$cbp-gray-cool-10: #dfe1e2 !default;
$cbp-gray-cool-30: #a9aeb1 !default;
$cbp-gray-cool-50: #71767a !default;
$cbp-gray-cool-60: #565c65 !default;
$cbp-gray-cool-80: #2d2e2f !default;
$cbp-gray-cool-90: #1c1d1f !default;

$cbp-blue-warm-10: #d4e5ff !default;
$cbp-blue-warm-30: #81aefc !default;
$cbp-blue-warm-50: #2672de !default;
$cbp-blue-warm-60: #0050d8 !default;
$cbp-blue-warm-70: #1a4480 !default;

$cbp-blue-cool-10: #c3ebfa !default;
$cbp-blue-cool-30: #59b9de !default;
$cbp-blue-cool-50: #0d7ea2 !default;
$cbp-blue-cool-60: #07648d !default;
$cbp-blue-cool-70: #074b69 !default;

$cbp-cyan-10: #a8f2ff !default;
$cbp-cyan-30: #00bde3 !default;
$cbp-cyan-50: #0081a1 !default;
$cbp-cyan-60: #00687d !default;
$cbp-cyan-70: #0e4f5c !default;

$cbp-mint-cool-10: #7efbe1 !default;
$cbp-mint-cool-30: #1dc2ae !default;
$cbp-mint-cool-50: #008480 !default;
$cbp-mint-cool-60: #0f6460 !default;
$cbp-mint-cool-70: #0b4b3f !default;

$cbp-green-cool-10: #b7f5bd !default;
$cbp-green-cool-30: #21c834 !default;
$cbp-green-cool-50: #008817 !default;
$cbp-green-cool-60: #216e1f !default;
$cbp-green-cool-70: #154c21 !default;

$cbp-yellow-5: #fff5c2 !default;
$cbp-yellow-10: #fee685 !default;
$cbp-yellow-20: #face00 !default;
$cbp-yellow-30: #ddaa01 !default;
$cbp-yellow-50: #947100 !default;

$cbp-red-warm-10: #f4e3db !default;
$cbp-red-warm-30: #dca081 !default;
$cbp-red-warm-50: #c3512c !default;
$cbp-red-warm-60: #805039 !default;
$cbp-red-warm-70: #524236 !default;

$cbp-violet-warm-20: #e2bee4 !default;
$cbp-violet-warm-50: #b04abd !default;

$cbp-violet-warm-vivid-20: #F4B2FF !default;

$cbp-indigo-5: #f0f0ff !default;
$cbp-indigo-60: #4a50c4 !default;

$cbp-indigo-cool-10: #dee5ff !default;
$cbp-indigo-cool-80: #1b2b85 !default;

$cbp-indigo-warm-10: #e4deff !default;
$cbp-indigo-warm-50: #745fe9 !default;
