//mobile view, currently set at 630px for demo purposes.
//you can change the value at the source uswds setting file below.
//want to be able to set this value manually in the future without
//having to go to the uswds sheet itself.
@use "../_uswds-theme-components" as uswds-mobile-breakpoint;

//tablet view, currently set at 870px for demo purposes
//you can manually set the breakpoint below to match your project's
//requirements.
$tablet-breakpoint: 870px;

.usa-menu-btn {
  background-color: transparent;
  color: #000000;
  padding: 0;

  &:hover {
    @extend .usa-menu-btn;
  }
}

.usa-logo {
  margin: 0;
}

.usa-header {
  border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.usa-header--basic .usa-nav {
  justify-content: space-between;
}

.cbp-mobile-header {
  display: none;
}

.cbp-container {
  align-items: center;
  display: flex;
  line-height: 56px;
  margin: 0 $cbp-size-4;
}

.usa-search-btn {
  display: none;
}

.usa-nav__submenu-item {
  a {
    &:hover {
      // color: yellow !important;
      // text-decoration: none !important;
    }
  }
}

.usa-nav__sublist {
  margin-top: 8px;
  list-style: none;

  & .usa-nav__submenu-item {
    &:active {
      font-style: italic;
    }
    &.is-active {
      font-style: italic;
    }
  }
}

@media screen and (max-width: 1023px) {
  .usa-navbar {
    width: 100%;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .usa-nav {
    form {
      &.usa-search {
        display: none;
      }
    }
  }

  .usa-search-btn {
    display: block;
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 880px) {
  // .usa-nav {
  //   width: 100%;
  // }

  .usa-nav {
    left: 0;
    bottom: 0;
    top: 0;
    &.is-visible {
    }
  }

  .usa-nav {
    form {
      &.usa-search {
        display: flex;
      }
    }
  }

  .usa-nav__sublist {
    margin: 0;
    padding: 0;

    & .usa-nav__submenu-item {
      margin-bottom: 0;
      a {
        span {
          margin-left: $cbp-size-2;
        }
      }
    }
  }

  .usa-search-btn {
    display: none;
  }

  .usa-navbar {
    border-bottom: none;
  }

  .usa-nav__primary {
    height: 100%;
  }

  .usa-logo {
    display: block;
    font-size: 22px;
  }

  .cbp-container {
    margin: 0 $cbp-size-2;
  }

  .cbp-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $cbp-size-1;
  }
}
