/*
  !!!!! IMPORTANT: All scss files are, and should be imported into layout.scss !!!!!

*/

.cbp-content {

  &__header {
    flex: 1;
  }
}

// @TODO: Change this to make it more responsive
.heading--main {
  margin: 60px 80px 40px 80px;
}

.tab--text {
  font-size: 1.3rem;
}
