/*
  !!!!! IMPORTANT: All scss files are, and should be imported into layout.scss !!!!!

*/

.cbp-content {

  &__header {
    flex: 1;
  }
}

.heading--main {
  @extend .cbp-spacing-square--large;
  margin-left: 3rem;
}

.tab--text {
  font-size: 1.3rem;
}
