.cbp-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  margin: 0 20px;
}

@include tablet-portrait-view {
  .cbp-grid {
    gap: 28px;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 32px;
  }
}

@include tablet-landscape-view {
  .cbp-grid {
    gap: 28px;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 32px;
  }
}

@include large-desktop-view {
  .cbp-grid {
    gap: 28px;
    margin: 0 44px;
  }
}