/*
  !!!!! IMPORTANT: All scss files are, and should be imported into layout.scss !!!!! 

*/


.cbp-header {
  color: $cbp-default;
  box-shadow: -1px 2px 3px 2px rgba(0, 0, 0, 0.1);
  grid-area: header;
  z-index: 100;

  a {
    color: $cbp-default;
  }

  .tabs a {
    color: $cbp-primary;
  }

  &__skipnav {
    background: $cbp-default;
    color: $cbp-primary !important;

    left: 0;
    padding: 0.5rem 1rem;
    position: absolute;
    top: -3.8rem;
    z-index: 100;

    &:focus {
      top: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  &__main,
  &__sub {
    height: 50px;
    margin-bottom: 0 !important;
    overflow: hidden;
    padding: 0 1em;
  }

  &__main {
    background: $universal-header;
    transition: height 0.2s;
    &--hidden {
      height: 0;
    }

    .level-right {
      .level-item:first-child {
        display: none;
      }
    }

    .level-item {
      padding: 0 1em;
    }
  }

  &__sub {

    background: $grey-lightest;
    color: $grey-base;

    a {
      color: $cbp-primary;
    }

    .level-item {
      padding: 18px;
    }

    .cbp-app-mobile {
      display: none;
    }
  }
}