/* Added important because, Bulma isn't allowing us to overwrite these particular styles.. 
*/
@mixin menu-list-ul-overide {
  margin-left: var(--cbp-reg-space) !important;
  padding-left: 0 !important;
}

@mixin menu-label-overide {
  font-size: 1em !important;
}

.nav-wrapper {
  background-color: var(--grey-lightest);
  // padding-left: 2rem;
}

.dropdown-container {
  margin-bottom: 2rem;
  margin-top: 8px;
  padding-left: var(--cbp-reg-space);
}

.dropdown-menu {
  padding-left: 1px;
  padding-top: 2px;
}

.dropdown-content {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

a.dropdown-item {
  font-weight: 700;
}

.menu {
  overflow-y: auto;
  font-size: var(--cbp-body-text);
  padding: 0;
  margin: 0;

  span {
    padding-left: var(--cbp-reg-space);
  }
}

.menu-list {
  li > a {
    padding-left: 0;

    &:hover {
      background-color: var(--grey-lighter);
      color: var(--cbp-info);
      // font-weight: var(--cbp-weight-bold);
    }
  }

  .sub-category {
    font-style: italic;
  }

  li > ul {
    @include menu-list-ul-overide();
  }
}
