/* CBP Primary Color Palette */
/* CBP Subtle Color Palette */
/* Menu Animation Speed */
body {
  font-family: 'Roboto', 'Calibri', 'Tahoma', 'Arial', sans-serif;
  font-size: 13px;
  margin: 0;
}

.cbp-skipnav {
  background: #fff;
  left: 0;
  padding: .5rem 1rem;
  position: absolute;
  top: -3.8rem;
  z-index: 100;
}

.cbp-skipnav:focus {
  color: #00416a !important;
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cbp-ds-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1em;
  height: 100vh;
}

.is-primary {
  background: #00416a !important;
}

/* CBP DS SIDE NAV START */
.cbp-side-nav {
  background: #ECF1F4;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 280px;
  z-index: 50;
  /* .cbp-side-nav--hide */
  /* .cbp-side-nav__cbp-logo */
  /* .cbp-side-nav__menu */
}

.cbp-side-nav--hide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: -280px;
}

.cbp-side-nav__cbp-logo {
  background: #00416a !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 1.538em;
  height: 52px;
  padding: .5em;
  width: inherit;
}

.cbp-side-nav__cbp-logo:hover {
  color: #fff;
}

.cbp-side-nav__menu {
  height: calc(100% - 50px);
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 2em;
  /* .cbp-side-nav__menu__item */
  /* .cbp-side-nav__item--category */
  /* .cbp-side-nav__item--sub */
}

.cbp-side-nav__menu__item {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  /* .cbp-side-nav__menu__item--active */
}

.cbp-side-nav__menu__item--active {
  background: #005a93;
  color: #fff;
}

.cbp-side-nav__menu__item--active ~ a:hover {
  color: inherit;
  background: #ECF1F4;
}

.cbp-side-nav__menu__item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: block;
  padding: .5em .5em .5em 1.5em;
}

.cbp-side-nav__menu__item a:hover {
  background: #00416a !important;
  color: #fff;
}

.cbp-side-nav__menu__item--category {
  font-size: 1.385em;
  font-weight: 600;
  padding: .5em;
}

.cbp-side-nav__menu__item--sub a {
  padding-left: 2rem;
}

/* CBP DS SIDE NAV END */
/* CBP MAIN SECTION START */
.cbp-ds-grid {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cbp-ds-grid--margin-left {
  margin-left: 280px;
}

/* CBP MAIN SECTION END*/
/* CBP HEADER START */
.cbp-header {
  background: #00416a !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cbp-header nav {
  height: 100%;
}

.cbp-header nav .navbar-brand {
  font-size: 1.538em;
}

.cbp-header nav i {
  cursor: pointer;
  padding: .75em;
}

.cbp-header nav .navbar-menu {
  height: inherit;
}

.cbp-header a {
  color: #fff;
  text-decoration: none;
}

.cbp-header span {
  font-weight: 300;
}

.cbp-ds-main {
  margin: 2em auto 0 auto;
  max-width: 600px;
}

.cbp-ds-main__header {
  font-size: 1.846em;
}

.cbp-ds-main__body-txt {
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */