/* Notes for styling and styling and naming conventnions. Search
  below comments.
  
  1. Review class name
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap");
html, body, .cbp-content {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.cbp-ds-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto calc(100vh - 55px);
      grid-template-rows: auto calc(100vh - 55px);
  /* height limitation on second row */
  -ms-grid-columns: 280px minmax(0, 1fr);
      grid-template-columns: 280px minmax(0, 1fr);
      grid-template-areas: "header header" "side-nav content";
}

.cbp-sidenav {
  background: #f5f5f5;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side-nav;
  overflow-y: auto;
}

.cbp-sidenav__item {
  display: block;
  font-size: 1rem;
  font-weight: 200;
}

.cbp-sidenav__item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: block;
  padding: .5em .5em .5em 1.5em;
}

.cbp-sidenav__item a:hover {
  background: #00416a;
  color: #fff;
}

.cbp-sidenav__item--category {
  font-size: 1.385em;
  font-weight: 600;
  padding: .5em;
}

.cbp-sidenav__item--active {
  background: #005a93;
  color: #fff;
}

.cbp-sidenav__item--sub a {
  padding-left: 2rem;
}

.cbp-header {
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.cbp-header a {
  color: #fff;
}

.cbp-header .tabs a {
  color: #00416a;
}

.cbp-header__skipnav {
  background: #fff;
  color: #00416a !important;
  left: 0;
  padding: .5rem 1rem;
  position: absolute;
  top: -3.8rem;
  z-index: 100;
}

.cbp-header__skipnav:focus {
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cbp-header__main, .cbp-header__sub {
  height: 50px;
  margin-bottom: 0 !important;
  padding: 0 1em;
}

.cbp-header__main {
  background: #00416a;
}

.cbp-header__main .level-right .level-item:first-child {
  display: none;
}

.cbp-header__main .level-item {
  padding: 0 1em;
}

.cbp-header__sub {
  background: #eeeeee;
  color: #000;
  opacity: 0;
  /* temp */
}

.cbp-header__sub a {
  color: #00416a;
}

.cbp-header__sub .level-item {
  padding: 18px;
}

.cbp-logo {
  color: #fff;
}

.cbp-logo:hover {
  color: #fff;
}

.cbp-logo span {
  font-weight: 300;
}

.cbp-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  margin: 0;
  height: 100%;
  min-height: 100%;
  /* Review class name (Might want to update, move or remove this class name.) 
    Added as a block holder for any code snippets.
  */
}

.cbp-content__header {
  background: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cbp-content article {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  overflow-y: scroll;
  padding: 2em 2em 0 2em;
  /* height set on child; triggers scroll */
}

.cbp-content .cbp-code iframe {
  height: 360px;
}

@media screen and (max-width: 768px) {
  .cbp-header__main.level,
  .cbp-header__main .level-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cbp-header__main .level-left .level-item:not(:first-child) {
    display: none;
  }
  .cbp-header__main .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem;
  }
  .cbp-header__main .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .cbp-header__main .level-right .level-item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cbp-header__main .level-right .level-item:not(:first-child) {
    display: none;
  }
}
/*# sourceMappingURL=updated-styles.css.map */