/* Label variants */
.label {
  font-size: 70%;
  letter-spacing: 0.06em;
  padding: .3em .6em;
}


.label-default {
  color: $gray-darker !important;
  border: 1px solid $gray !important;
}
.label-primary {
  @include label-variant($brand-primary);
  border: 1px solid $gray !important;
}
.label-success {
  @include label-variant($brand-success);
  border: 1px solid $gray !important;
}
.label-info {
  @include label-variant($brand-info);
  border: 1px solid $gray !important;
}
.label-danger {
  @include label-variant($brand-danger);
  border: 1px solid $gray !important;
}
.label-inverse {
  @include label-variant($body-bg);
  color: $gray-dark;
  border: 1px solid $gray !important;
}
.label-live {
  @include label-variant($brand-live);
  color: $gray-dark;
  border: 1px solid $gray !important;
}
.label-warning {
  @include label-variant($brand-warning);
  color: $brand-warning-text;
  border: 1px solid $gray !important;
}


.label-default.subtle {
    color: $gray-dark;
    background-color: mix($text-color, #fff, 7.5%);
    border: 1px solid mix($text-color, #fff, 35%);
}

.label-success.subtle {
    color: darken($brand-success, 8.8%);
    background-color: $state-success-bg;
    border: 1px solid $state-success-border;
}

.label-info.subtle {
    color: $brand-info;
    background-color: $state-info-bg;
    border: 1px solid $state-info-border;
}

.label-warning.subtle {
    color: $brand-warning-text;
    background-color: $state-warning-bg;
    border: 1px solid $state-warning-border;
}

.label-danger.subtle {
    color: $brand-danger;
    background-color: $state-danger-bg;
    border: 1px solid $state-danger-border;
}

.label-primary.subtle {
    color: $brand-primary;
    background-color: mix($brand-primary, #fff, 7.5%);
    border: 1px solid $state-success-border;
}

label {
  font-weight: 400;
}

// material

label.mdl-textfield__label {
  margin-bottom: 0;
}

label.mdl-textfield__label.static-label {
  font-size: 12px;
  top: 4px;
}

.mdl-textfield.is-focused label.mdl-textfield__label:after {
    visibility: hidden;
}
