.popover {
    padding: 0;
    border-color: $gray-light;

    .popover-header .close {
      padding: 5px 10px 0 0;
    }

    .popover-title {
        font-weight: 600;
    }

   &.left > .arrow {
     border-left-color: darken($gray-light, 12%);
   }

   &.top > .arrow {
     border-top-color: darken($gray-light, 12%);
   }

   &.right > .arrow {
     border-right-color: darken($gray-light, 12%);
   }

   &.bottom > .arrow {
     border-bottom-color: darken($gray-light, 15%);
   }

}

.popover-toolbar {
    display: inline-block;
    width: 100%;
    padding: 9px 14px;
    border-top: 1px solid #eee;
}
