.nav-steps {
    width: 100%;
    display: table;
    table-layout: fixed;
    word-wrap: break-word;
    margin-left: 0;
    padding: 0;
    > li {
        display: table-cell;
        max-width: 150px;
        min-width: 75px;
        text-align: center;
        padding: 0 10px;

        > a, > span {
            display: block;
            font-weight: 600;
            outline: none;
            padding-top: 25px;
            position: relative;
        }

        > a:before, > span:before {
            background: $brand-info;
            border-radius: 100%;
            content: "";
            box-shadow: 0 0 0 3px #f5f5f5;
            height: 10px;
            left: 50%;
            margin-left: -5px;
            position: absolute;
            top: 3px;
            width: 10px;
        }
    }

    li + li > span:after,
    li + li > a:after {
      background: $brand-info;
      border: solid #f5f5f5;
      border-width: 2px 0;
      box-shadow: -5px 0 0 -2px $brand-info, 5px 0 0 -2px $brand-info;
      content: "";
      height: 8px;
      left: -50%;
      margin-left: -14px;
      margin-right: 6px;
      position: absolute;
      right: 50%;
      top: 4px;
    }

    .active ~ li {
      color: #707070;
    }

    .active ~ li > span:before,
    .active ~ li > a:before {
      background-color: #cccccc;
    }

    .active ~ li > span:after,
    .active ~ li > a:after {
      background-color: #f5f5f5;
      box-shadow: none;
    }
}

.nav-steps.nav-stacked {
    display: block;
    counter-reset: test;

    > li {
        text-align: left;
        display: block;
        max-width: none;
        min-width: 0;
        padding: 11px 0 10px 50px;

        > a,
        > span {
            padding-top: 0;
        }

        > a:before,
        > span:before {
            left: -35px;
            top: 0;
            margin: 0;
            height: 20px;
            width: 20px;
            content: counter(test);
            counter-increment: test;
            text-align: center;
            color: #fff;
            box-shadow: 0 0 0 3px $brand-info;
        }

        &.active > a:before,
        &.active > span:before {
            color: $brand-primary;
            background: #fff;
            box-shadow: 0 0 0 3px $brand-info;
        }

        &.active ~ li > span:before,
        &.active ~ li > a:before {
            color: $text-color;
            background: #fff;
            box-shadow: 0 0 0 3px #f5f5f5;
        }
    }

    li + li > span:after,
    li + li > a:after {
        top: -100%;
        height: 100%;
        bottom: 0;
        left: -27px;
        border-width: 0 0;
        right: 0;
        width: 3px;
        margin-left: 0;
    }
}

.nav-dots {
    display: block;
    padding-left: 0;

    > li {
        display: inline-block;
    }

    > li > a {
        margin-right: 4px;
        display: inline-block;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        overflow: hidden;
        text-indent: 100%;
        background-color: #ddd;
    }

    > li:last-child > a {
        margin-right: 0;
    }

    > li.active > a {
        background-color: #aaa;
    }
}
