.black {
    font-weight: 700;
}

.bold {
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.caption {
    font-size: $font-size-base - 1;
    color: $gray-light;
}

h1, .h1,
h2, .h2 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h3, .h3,
h4, .h4 {
  margin-top: ($line-height-computed / 1.5);
  margin-bottom: ($line-height-computed / 2);
}


h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

@media (max-width:$screen-sm) {
  .page-header, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    padding-left: 6px;
  }
}
