.black {
    font-weight: 700;
}

.bold {
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.caption {
    font-size: $font-size-base - 1;
    color: $gray-light;
}

h1 {
	font-weight: 300;
}

h2, h3 {
	font-weight: 400;
}
