.test-btn {
  background-color: thistle;
  left: 0;
  position: absolute;
  top: 0;
}

.cbp-slide-draw { 
  background-color: #fff;
  height: 100vh;
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 9999;
}

.cbp-slide-draw--closed {
  left: -400px;
}

.cbp-filter-cmpt {
  flex-direction: column;
  padding-top: 32px;
}

.cbp-slide-draw__close-btn {
  cursor: pointer;
}

.cbp-filter-cmpt ul {
  list-style-type: none;
  padding-left: 0;
}

.cbp-filter-cmpt__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cbp-filter-cmpt__header .fas {
  font-size: 1.5em;
}

.cbp-filter-cmpt__header .fa-filter{
  margin-right: 12px;
}

.cbp-filter-cmpt__header .fa-times-circle {
  cursor: pointer;
}

.cbp-filter-cmpt__items {
  margin-top: 24px !important;
}

.cbp-filter-cmpt__items ul,
.cbp-filter-cmpt__items li {
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 100%;
}

.cbp-filter-cmpt__items button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  text-align: left;
  width: 100%;
}

.cbp-filter-cmpt__items button {
  border-top: 1px solid #DFE1E2;
}

.cbp-filter-cmpt__items button + ul {
  display: none;
}

.cbp-filter-cmpt__items button.active-parent + ul {
  display: block;
}

.cbp-filter-cmpt__items button .fa-chevron-right {
  transition: all 0.2s ease;
  transform: rotate(0deg);
}

.cbp-filter-cmpt__items button.active-parent .fa-chevron-right {
  transform: rotate(90deg);
}

.active-parent,
.active-sub-parent {
  background-color: #F1F3F6 !important;
  color: #1B2B85;
  font-style: italic;
}

.cbp-filter-cmpt__sub-items button {
  padding-left: 32px;
}

@media only screen and (max-width : 599px) {
  .cbp-slide-draw { width: 100%; }
}
/* 368 */
@media only screen and (min-width : 600px) and (max-width : 1023px) {
  .cbp-slide-draw { 
    padding: 0 36px;
    width: 368px; 
  }      
}

@media only screen and (min-width : 1024px) and (max-width : 1439px) {
  .cbp-slide-draw {
    padding: 0 36px;
    width: 332px;
  }  
}

@media only screen and (min-width : 1440px) {
  .cbp-slide-draw {
    padding: 0 44px;
    width: 358px;
  }  
}