/* CBP Typography Variables */
@use "variables";
@use "../globals/scss/variables" as font;

/* Font Mixins */
@mixin dark {
  color: variables.$grey-lightest;
}

@font-face {
  font-family: "Roboto";
  src: url(font.$asset-font-roboto-regular-ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(font.$asset-font-roboto-medium-ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(font.$asset-font-roboto-bold-ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Font Sizes Styling */
.cbp-masthead-1 {
  font-size: 2.566rem;
  font-weight: variables.$cbp-weight-thin;
  line-height: variables.$cbp-height-44;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-masthead-2 {
  font-size: 2.281rem;
  font-weight: variables.$cbp-weight-thin;
  line-height: variables.$cbp-height-40;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-1 {
  font-size: 2.027rem;
  font-weight: variables.$cbp-weight-light;
  line-height: variables.$cbp-height-36;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-2 {
  font-size: 1.802rem;
  font-weight: variables.$cbp-weight-regular;
  line-height: variables.$cbp-height-32;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-3 {
  font-size: 1.602rem;
  font-weight: variables.$cbp-weight-regular;
  line-height: variables.$cbp-height-28;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-4 {
  font-size: 1.424rem;
  font-weight: variables.$cbp-weight-medium;
  line-height: variables.$cbp-height-28;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-5 {
  font-size: 1.266rem;
  font-weight: variables.$cbp-weight-medium;
  line-height: variables.$cbp-height-24;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-heading-6 {
  font-size: 1.125rem;
  font-weight: variables.$cbp-weight-bold;
  line-height: variables.$cbp-height-20;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-body {
  font-size: 1rem;
  font-weight: variables.$cbp-weight-regular;
  line-height: variables.$cbp-height-20;
  letter-spacing: variables.$cbp-font-spacing;
  max-width: 75em;

  &--dark {
    @include dark;
  }
}

/* Supporting Text Classes */
.cbp-subhead-text {
  font-size: 0.889rem;
  font-weight: variables.$cbp-weight-medium;
  line-height: variables.$cbp-height-20;
  letter-spacing: variables.$cbp-font-spacing;

  &--dark {
    @include dark;
  }
}

.cbp-button-text {
  font-size: 0.889rem;
  font-weight: variables.$cbp-weight-medium;
  letter-spacing: 1.08px;
  text-transform: uppercase;

  &--dark {
    @include dark;
  }
}
