/* CBP Primary Color Palette */

$ds-primary: #00416a;
/* CBP Subtle Color Palette */
$ds-primary-bg: #ecf1f4;
/* Menu Animation Speed */
$menuSpeed: 0.5s; // Menu open and close speed.

body {
  font-family: "Roboto", "Calibri", "Tahoma", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}

.cbp-skipnav {
  background: #ffffff;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -3.8rem;
  z-index: 100;

  &:focus {
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}

.cbp-ds-grid {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  height: 100vh;
}
/* CBP DS SIDE NAV START */

.cbp-side-nav {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: $menuSpeed;
  width: 280px;
  z-index: 50;
  /* .cbp-side-nav--hide */
  &--hide {
    transition: $menuSpeed;
    left: -280px;
  }
  /* .cbp-side-nav__cbp-logo */
  &__cbp-logo {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-size: 1.538em;
    height: 52px;
    padding: 0.5em;
    width: inherit;

    &:hover {
      color: #ffffff;
    }
  }
  /* .cbp-side-nav__menu */
  &__menu {
    height: calc(100% - 50px);
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 2em;
    /* .cbp-side-nav__menu__item */
    &__item {
      display: block;
      font-size: 1rem;
      font-weight: 200;
      /* .cbp-side-nav__menu__item--active */
      &--active {
        background: lighten(#00416a, 8%);
        color: #ffffff;

        ~ a:hover {
          color: inherit;
          background: $ds-primary-bg;
        }
      }

      a {
        box-sizing: border-box;
        color: inherit;
        display: block;
        padding: 0.5em 0.5em 0.5em 1.5em;

        &:hover {
          background: $ds-primary;
          color: #ffffff;
        }
      }
    }
    /* .cbp-side-nav__item--category */
    &__item--category {
      font-size: 1.385em;
      font-weight: 600;
      padding: 0.5em;
    }
    /* .cbp-side-nav__item--sub */
    &__item--sub {

      a {
        padding-left: 2rem;
      }

    }

  }
}
/* CBP DS SIDE NAV END */
/* CBP MAIN SECTION START */

.cbp-ds-grid {
  transition: $menuSpeed;

  &--margin-left {
    margin-left: 280px;
  }
}
/* CBP MAIN SECTION END */
/* CBP HEADER START */
.cbp-header {
  background: $ds-primary;
  box-sizing: border-box;
  height: 52PX;
  /* cbp-header__top-nav */
  &__top-nav {
    display: flex;
    height: inherit;
    justify-content: space-between;
    width: 100%;

    & div:last-child {
      margin-left: auto;
      margin-right: 1em;
    }

    &__hamburger {
      a {
        padding: 8px 2px;
      }
    }
    /* cbp-header__top-nav__nav-items */
    &__nav-items {
      padding: 17px 0 17px 5px;

      .fab { padding: 0; }
    }

    .navbar-brand { font-size: 1.538em; }

    i {
      cursor: pointer;
      padding: 0.75em;
    }

    .navbar-menu { height: inherit; }
  }

  a {
    color: #ffffff;
    display: block;
    height: 100%;
    text-decoration: none;
  }

  span {
    font-weight: 300;
  }

}

.cbp-ds-main {

  &__header {
    font-size: 1.846em;
    margin: 1.385em 0 0.692em;
  }

  &__body-txt {
    font-size: 1.231em;
  }

  &__sub-header {
    color: $ds-primary;
    font-size: 1.538rem;
  }
}

.cbp-block {
  padding: 40px 40px 0 40px;
}