/* Notes for styling and styling and naming conventnions. Search
  below comments.
  
  1. Review class name
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap');
@import "../../ds-css/src/styles/custom/utilities/initial-variables";


.cbp-content {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* Temp Button class */
.sub-menu-btn {
  display: none;
}

/* Temp Button class */

.no-scroll {
  overflow-y: hidden;
}

.cbp-ds-grid {
  display: grid;
  grid-template-rows: auto calc(100vh - 55px);
  /* height limitation on second row */
  grid-template-columns: 280px minmax(0, 1fr);
  grid-template-areas:
    "header header"
    "side-nav content";
}

/**
 * Old Custom Sidebar Menu-- Currently using Bulma
*/

// .cbp-sidenav {
//   background: #f5f5f5;
//   grid-area: side-nav;
//   overflow-y: auto;

//   &__item {
//     display: block;
//     font-size: 1rem;
//     font-weight: 200;

//     a {
//       box-sizing: border-box;
//       color: inherit;
//       display: block;
//       padding: .5em .5em .5em 1.5em;

//       &:hover {
//         background: #f6f6f6;
//         color: #fff;  
//       }
//     }

//     &--category {
//       font-size: 1.385em;
//       font-weight: 600;
//       padding: .5em;  
//     }

//     &--active { 
//       background: lighten(#00416a, 8%);
//       color: #fff;
//     }

//     &--sub {      
//       a {
//         padding-left: 2rem;
//       }
//     }
//   }


// }

.cbp-header {
  color: $cbp-default;
  box-shadow: -1px 2px 3px 2px rgba(0, 0, 0, 0.1);
  grid-area: header;
  z-index: 100;

  a {
    color: $cbp-default;
  }

  .tabs a {
    color: $cbp-primary;
  }

  &__skipnav {
    background: $cbp-default;
    color: $cbp-primary !important;

    left: 0;
    padding: .5rem 1rem;
    position: absolute;
    top: -3.8rem;
    z-index: 100;

    &:focus {
      top: 0;
      transition: all .2s ease-in-out;
    }
  }

  &__main,
  &__sub {
    height: 50px;
    margin-bottom: 0 !important;
    overflow: hidden;
    padding: 0 1em;
  }

  &__main {
    background: $universal-header;
    transition: height .2s;
    &--hidden {
      height: 0;
    }

    .level-right {
      .level-item:first-child {
        display: none;
      }
    }

    .level-item {
      padding: 0 1em;
    }
  }

  &__sub {

    background: $grey-lightest;
    color: $grey-base;

    a {
      color: $cbp-primary;
    }

    .level-item {
      padding: 18px;
    }

    .cbp-app-mobile {
      display: none;
    }
  }
}

.cbp-logo {
  color: $cbp-default;

  &:hover {
    color: $cbp-default;
  }
  span {
    font-weight: 300;
  }
}

.cbp-content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  margin: 0;
  height: 100%;
  min-height: 100%;


  &__header {
    background: $cbp-default;

    flex: 1;
  }

  article {
    flex: 8;
    overflow-y: scroll;
    padding: 2em 2em 0 2em;
    /* height set on child; triggers scroll */
  }

  /* Review class name (Might want to update, move or remove this class name.) 
    Added as a block holder for any code snippets.
  */
  .cbp-code {
    iframe {
      height: 360px;
    }
  }
}

.tables-usage--box {
  height: 200px;
  @media screen and (max-width: 1090px) {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {

  /* Temp Button class */
  .sub-menu-btn {
    display: block;
  }

  /* Temp Button class */

  /* Overwrites some Bulma breakpoint styles for the header.  */
  .cbp-header__main {
    &.level,
    .level-left {
      display: flex;

    }

    .cbp-mobile-menu {
      cursor: pointer;
    }

    .level-left {
      .level-item:not(:first-child) {
        display: none;
      }
    }

    .level-item:not(:last-child) {
      margin-bottom: 0;
      margin-right: .75rem;
    }

    .level-right {

      display: flex;
      margin-top: 0;

      .level-item:first-child {
        display: flex;
      }

      .level-item:not(:first-child) {
        display: none;
      }
    }

  }

  .cbp-header__sub {
    overflow-y: hidden;
    transition: height .5;

    .cbp-tabs-mobile {
      width: 100%;
      * {
        width: 100%;
      }


      ul {
        flex-direction: column;
      }

    }


    .cbp-app-mobile {
      display: block;
    }

    &--open {
      height: auto;
    }
  }
}

.tab--active {
  font-weight: $cbp-weight-bold;
  color: $cbp-info;
}

