.cbp-modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .cbp-modal__content {
    position: relative;
    top: 30%;
    background-color: #ffffff; // $white
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: auto;
    width: 336px;

    & > hr {
      margin: 0px 16px;
    }
  }
}

.cbp-modal__header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;

  i {
    color: $cbp-text-darker;
    font-size: 22px;
  }

  .cbp-modal__title {
    color: $cbp-text-darker;
    font-size: 1.602rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;
    margin-left: 16px;
  }
}

.cbp-modal__body {
  color: $cbp-text-darker;
  font-weight: 700;
  padding: 16px 16px 20px 16px;
}

.cbp-modal__footer {
  display: flex;
}

/* Modal Button Variations */

// 1 button
.cbp-modal__footer--single {
  button {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

// 2 buttons
.cbp-modal__footer--double {
  @extend .cbp-modal__footer;
  button {
    width: 50%;
  }

  button:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  button:nth-child(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

// 3 buttons 
.cbp-modal__footer--triple {
  display: flex;
  button {
    width: auto;
  }

  button:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  button:nth-child(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  button:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}