// Future CSS to use for hidden components
.cbp-hidden {
  display: none;
}

.cbp-modal__backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

[role="dialog"] {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  background-color: #fff; // .cbp-white
  border-radius: 5px;
  width: 336px;
  min-height: min-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  & > hr {
    margin: 0px 16px;
  }
}

.cbp-modal__header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  color: $cbp-text-darker;

  i {
    font-size: 22px;
  }

  .cbp-modal__title {
    font-size: 1.602rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;
    margin-left: 16px;
  }

  // Modal Title Danger
  &--danger {
    color: #d54309;
  }
}

.cbp-modal__content {
  color: $cbp-text-darker;
  font-weight: 700;
  padding: 16px 16px 20px 16px;
}

.cbp-modal__footer {
  display: flex;

  /* Modal Button Modifiers */
  // 1 button
  &--single {
    button {
      width: 100%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  // 2 buttons
  &--double {
    button {
      width: 50%;
    }

    button:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    button:nth-child(2) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  // 3 buttons 
  &--triple {
    button {
      width: auto;
    }

    button:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    button:nth-child(2) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    button:last-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

@media only screen and (min-width: 599px) {
  [role="dialog"] {
    top: 30%
  }
}