<!DOCTYPE html>
<html lang="en" class="no-scroll">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Style Guide - CBP Style Guide</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="../css/cbp-ds.min.css">
        <link rel="stylesheet" href="../css/updated-styles.css">
      </head>
<body>
  <div class="cbp-ds-grid">
    <!-- 
      CBP header element for branding and navigation. Also may contain sub navigation.
    -->
    <header class="cbp-header">
      <a class="cbp-header__skipnav" href="#main-content">Skip to main content</a>
      <nav class="cbp-header__main level">
        <div class="level-left">
          <div class="level-item">
            <!-- CBP Logo  -->
            <a href="/" class="cbp-logo">
              <strong>CBP</strong>
              &nbsp;
              <span>Style Guide</span>
            </a>
            <a href="#" class="is-size-7">&nbsp; Changelog</a>
          </div>
        </div>
        
        <div class="level-right">
          <a href="#" class="is-size-7">
            <i class="fab fa-github"></i>
            &nbsp; View on Github
          </a>
        </div>    
      </nav>
      <!-- <nav class="cbp-header__sub level">
        <div class="level-left">
          <div class="level-item">Sub Header</div>
        </div>
        <div class="level-right">
          <div class="level-item"></div>
        </div>
      </nav> -->
    </header>
    
    <aside class="cbp-sidenav">
      <ul class="cbp-sidenav__items">
        <li class="cbp-sidenav__item cbp-sidenav__item--category">Foundation</li>
        <li class="cbp-sidenav__item cbp-sidenav__item--active">
          <a href="#">Colors</a>
          <ul>
            <li class="cbp-sidenav__item--sub">
              <a href="#">Color Palette</a>
            </li>
            <li class="cbp-sidenav__item--sub">
              <a href="#">Section 508 Color Combinations</a>
            </li>
            <li class="cbp-sidenav__item--sub">
              <a href="#">Data Visualization Palette</a>
            </li>          
          </ul>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Grid</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Icons</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Layouts</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Typography</a>
        </li>
  <li class="cbp-sidenav__item cbp-sidenav__item--category">Components</li>
        <li class="cbp-sidenav__item">
          <a href="#">Accordian</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Breadcrumbs</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="buttons.html">Buttons</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Cards</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Form Controls</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Forms</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Labels and Badges</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Menus</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Modals</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Notifications</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Pagination</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Popovers</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Progress and Loading</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Security Banner</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="tables.html">Tables</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Tabs</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Tags</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Tooltips</a>
        </li>
        <li class="cbp-sidenav__item cbp-sidenav__item--category">Patterns</li>
        <li class="cbp-sidenav__item">
          <a href="#">Headers</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Data Formats</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Data Visualization</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">File Upload</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Filters</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Help</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Search</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Tours</a>
        </li>
        <li class="cbp-sidenav__item">
          <a href="#">Wizards</a>
        </li>
      </ul>
      
  <!--     <div class="sd-nav">
        Side nav
      </div> -->
    </aside>
    
    <section class="cbp-content">
      
      <div class="cbp-content__header">
          <h1 class="cbp-heading-1">Buttons</h1>

          <div class="tabs">
            <ul>
              <li class="is-active"><a>Design</a></li>
              <li><a>Code</a></li>
            </ul>
          </div>

          <div class="level">
            <div class="level-item"><a href="#ds-example">Example</a></div>
            <div class="level-item"><a href="#ds-code">Code</a></div>
            <div class="level-item"><a href="#ds-docs">Documentation</a></div>
            <div class="level-item"><a href="#ds-mods">Modifiers</a></div>  
          </div>
      </div>

      <article>
        <div class="notification has-background-light">
          <h2 class="cbp-heading-2" id="ds-example">Example</h2>
          <p>Using Bulma <strong>"notification"</strong> class with <strong>"has-background-light"</strong> class</p>
          <button class="button">CBP-Button</button>
        </div>
  
          <div class="notification cbp-code">
            <h2 class="cbp-heading-2" id="ds-code">Code</h2>
            <div class="code-container">
              <iframe height="400" style="width: 100%;" scrolling="no" title="Embed" src="https://codepen.io/ski760/embed/KKKXRaZ?height=400&theme-id=dark&default-tab=html,result" frameborder="no" allowtransparency="true" allowfullscreen="true">
                See the Pen <a href='https://codepen.io/ski760/pen/KKKXRaZ'>Embed</a> by Ski Easy
                (<a href='https://codepen.io/ski760'>@ski760</a>) on <a href='https://codepen.io'>CodePen</a>.
              </iframe>
            </div>
          </div>
  
          <div class="box">
            <h2 class="cbp-heading-2" id="ds-docs">Documentation</h2>
            <p>Using Bulma <strong>"box"</strong> class</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci facere iusto dolorem maiores eaque eos veniam, ipsa atque, unde asperiores voluptatibus, voluptas quia temporibus id reiciendis exercitationem fugiat odit voluptate.</p>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci facere iusto dolorem maiores eaque eos veniam, ipsa atque, unde asperiores voluptatibus, voluptas quia temporibus id reiciendis exercitationem fugiat odit voluptate.</p>
          </div>
  
          <div class="notification has-background-grey-darker"> 
            <h2 class="cbp-heading-2 cbp-heading-2--dark" id="ds-mods">Modifiers</h2>
            <p class="has-text-white">Using a dark background with light text.</p>
          </div>
      </article>
    </section>
    
    
      
    </div>

  <script src="../js/scripts.js"></script>
</body>

</html>